footer.footer
  .container
    .footer__top
      .footer__desc
        .foooter__logos
          a(href="/")
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/footer/sotrans-logo.svg')}
          a(href="javascript:")
            img(src=require('@/assets/img/header/dragon-logo.png') alt="")
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/header/dragon-caption.svg')}
        p.footer__txt ООО «Техцентры СОТРАНС» — эксклюзивный дистрибьютор автобусов марки Golden Dragon на территории Российской Федерации
      .footer__menu
        .footer__menu-block
          each el in footerMenu.first
            a(href=el.url) #{el.txt}
        .footer__menu-block
          each el in footerMenu.second
            a(href=el.url) #{el.txt}
      .footer__contacts
        .footer__contacts-item
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/footer/home.svg')}
          span Ленинградская область, #[br] пгт. Красный Бор, #[br] ул. Промышленная д.3
        .footer__contacts-item
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/footer/phone.svg')}
          span
            a(href="tel:88002223480") 8 (800) 222-34-80
            a(href="tel:89213126338") 8 (921) 312-63-38
        .footer__contacts-item
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/footer/mail.svg')}
          a(href="mailto:bus@sotrans.ru") bus@sotrans.ru
    .footer__bottom
      .footer__info
        span ООО «Техцентры СОТРАНС»
        span ИНН 4716034632
        span КПП 471601001
      .footer__policy
        a(href="javascript:") Условия пользования сайтом
        a(href="javascript:") Политика конфиденциальности
