header.header
  .container
    .header__top
      .header__logos
        a(href="/")
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/header/sotrans-logo.svg')}
        a(href="javascript:")
          img(src=require('@/assets/img/header/dragon-logo.png') alt="")
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/header/dragon-caption.svg')}
      .header__contacts
        a.header__contacts-phone(href="tel:88002223480")
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/header/phone.svg')}
          span 8 (800) 222-34-80
        a.header__contacts-call(href="javascript:") Обратный звонок
        .header__mobile-search
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/header/loupe.svg')}
        .header__burger
          img(src=require('@/assets/img/header/burger.svg') alt="burger")
    .header__bottom
      nav.menu
        each el in headerMenu
          if (el.url)
            a.menu__item(href=el.url) #{el.txt}
          if (el.drop)
            .menu-drop
              .menu__drop-title
                span #{el.txt}
                | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/header/vector-down.svg')}
              .menu__drop-links
                each link in el.drop
                  a(href=link.url) #{link.txt}
      .header__search
        | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/header/loupe.svg')}



