section.product-tabs
  .container
    .product-tabs__switcher
      .product-tabs__switcher-container
        each el,index in tabButtons
          if (index === 0)
            button.active(data-id=0) #{el}
          else
            button(data-id=index) #{el}
    .product-tabs__content
      .product-tabs__block.active(data-id=0)
        ul.product-tabs__list
          each el in tabLeftDesc
            li
              h3 #{el.title}
              p #{el.value}
        .product-tabs__container
          if (tabLeftImage)
            .product-tabs__image
              img(src=tabLeftImage alt="")
          if (tabLeftGif)
            .product-tabs__gif
              img(src=tabLeftGif alt="")
      .product-tabs__block(data-id=1)
        ul.product-tabs__list
          each el in tabRightDesc
            li
              h3 #{el.title}
              p #{el.value}
        .product-tabs__container
          if (tabRightImage)
            .product-tabs__image
              img(src=tabRightImage alt="")
