section.workshop
  .container
    h2.section-title #[span 02] Структура цехов
  .workshop__blank
    .workshop__blank-bg
      img(src=require('@/assets/img/proizvodstvo/workshop.png') alt="")
      img(src=require('@/assets/img/proizvodstvo/workshop-mob.jpg') alt="")
    .container
      .workshop__blank-desc
        h3.section-sub-title Заготовительное производство
        ul.workshop__blank-list
          each el in workshopBlank
            li !{el}
  .workshop__welding
    .container
      .workshop__welding-desc
        h3.section-sub-title Сварочное производство
        ul.workshop__welding-list
          each el in workshopWelding
            li !{el}
      .workshop__welding-image
        img(src=require('@/assets/img/proizvodstvo/welding.jpg') alt="")
  .workshop__assembly
    .workshop__assembly-tile
      each el in workshopAssemblyTile
        .workshop__assembly-tile-item
          img(src=el alt="")
    .container
      .workshop__assembly-desc
        h3.section-sub-title Сборочное производство
        p.workshop__assembly-txt После проведения горячего цинкования в погружных ваннах сборочный конвейер в тактовом режиме обеспечивает ритмичный выпуск продукции по всей цепочке технологического цикла:
        ul.workshop__assembly-list
          each el in workshopAssembly
            li !{el}
    .swiper
      .swiper-wrapper
        each el in workshopAssemblySlider
          .swiper-slide
            .swiper-slide-image
              img(src=el alt="")
      .swiper-button-next
        img(src=require('@/assets/img/proizvodstvo/assembly/vector-right.svg') alt="")


