mixin news-card(params)
  a.news-card(href=params.url)
    .news-card__date #{params.date}
    h3.news-card__title #{params.title}
    .news-card__more.more-btn
      span Читать
      span !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/global/vector-right.svg')}
    .news-card__image
      img(src=params.image alt="")


