mixin product-card(params)
  .product-card
    .product-card__top
      if (params.image)
        .product-card__image
          img(src=params.image alt=params.title)
      .product-card__params
        .product-card__params-type #{params.type}
        .fuel(class=`fuel_${params.fuel}`) #[span]
      h3.product-card__title #{params.title}
    .product-card__bottom
      if (params.options)
        .product-card__options
          each option in params.options
            .product-card__options-item
              span #{option.name}
              span #{option.value}
      a.product-card__link.btn.btn_orange(href="product.html")
        span Подробнее


