mixin promo-card(params)
  a.promo-card(href=params.url)
    .promo-card__image
      img.cover-image(src=params.image alt=params.title)
    h3.promo-card__title #{params.title}
    .promo-card__date #{params.date}
