header.header
  .container
    a.header__logo(href="javascript:")
      | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/header/logo.svg')}
    .header__menu
      .header__menu-close
        | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/header/menu-close.svg')}
      each el in headerMenu
        a(href=el.href) #{el.txt}
    a.header__basket(href="javascript:")
      | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/header/basket.svg')}
      span.header__basket-counter 1
    a.header__mobile-btn(href="javascript:")
      | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/header/menu-btn.svg')}
