section.about-slider
  .container
    h2.section-title.slide-right Сегодня на заводе выпускается #[br] следующая продукция:
    .swiper.slide-left
      .swiper-wrapper
        each el in aboutSlides
          .swiper-slide
            .swiper-slide-image
              img(src=el.image alt=el.title)
            .swiper-slide-title #{el.title}
            a.swiper-slide-link(href=el.url)
              span Подробнее
              | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/global/vector-right-white-sm.svg')}
      .swiper-button-prev
        | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/global/vector-left-blue.svg')}
      .swiper-button-next
        | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/global/vector-right-blue.svg')}
