section.price
  .container
    h3.subtitle Прайс
    p.description-text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
    .price-anchors-mobile
      a(href="#direction").active Направления
      a(href="#consultations") Консультации
      a(href="#diagnostics") Диагностика
      a(href="javascript:") Реабилитация
      a(href="javascript:") Спортивная медицина
    .price-container
      .price-container-left
        .service-price
          h5.service-price_main-title(id='direction') Направления
          p.service-price_title ИРТ
            each el in irtPrice
              .service-price-container
                if el.title
                  span.service-price_subtitle=el.title
                each item in el.items
                  .service-price-item
                    span.service-price-item-name=item.name
                    span.service-price-item-cost=item.price
          p.service-price_title Физиотерапия
          each el in physiotherapyPrice
            .service-price-container
              if el.title
                span.service-price_subtitle=el.title
              each item in el.items
                .service-price-item
                  span.service-price-item-name=item.name
                  span.service-price-item-cost=item.price
          p.service-price_title Введение препаратов
            each el in drugsPrice
              .service-price-container
                if el.title
                  span.service-price_subtitle=el.title
                each item in el.items
                  .service-price-item
                    span.service-price-item-name=item.name
                    span.service-price-item-cost=item.price
        .service-price
          h5.service-price_main-title(id="consultations") Консультации
          each el in consultationsPrice
            .service-price-container
              if el.title
                span.service-price_subtitle=el.title
              each item in el.items
                .service-price-item
                  span.service-price-item-name=item.name
                  span.service-price-item-cost=item.price
        .service-price
          h5.service-price_main-title(id='diagnostics') Диагностика
          each el in diagnosticsPrice
            .service-price-container
              if el.title
                span.service-price_subtitle=el.title
              each item in el.items
                .service-price-item
                  span.service-price-item-name=item.name
                  span.service-price-item-cost=item.price
      .price-container-right
        .price-anchors
          a(href="#direction") Направления
          a(href="#consultations") Консультации
          a(href="#diagnostics") Диагностика
          a(href="javascript:") Реабилитация
          a(href="javascript:") Спортивная медицина
        .free-consultation
          h4 Не нашли нужную услугу?
          button.btn-white Бесплатная консультация
    include ../../components/global/service-registration



