section.vacancies-offer
  .container
    .vacancies-offer__left
      .vacancies-offer__items
        each item in vacanciesItems
          .accordion
            .accordion__visible
              h3.accordion__title #{item.title}
              .accordion__sum #{item.sum}
              .accordion__arrow
                | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/vacancies/vector-down.svg')}
            .accordion__hidden
              .accordion__blocks
                each block in item.blocks
                  .accordion__block
                    h4.accordion__block-title #{block.title}
                    ul.accordion__block-list
                      each el in block.list
                        li  #{el}
              .accordion__buttons
                a.accordion__link(href="javascript:") Откликнуться
      .vacancies-offer__all
        h3.vacancies-offer__all-title Посмотреть все вакансии СОТРАНС
        a.vacancies-offer__all-link(href="javascript:")
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/vacancies/hh.svg')}
          span hh.ru
    .vacancies-offer__right
      .vacancies-offer__hr
        .vacancies-offer__hr-image
          img(src=require('@/assets/img/vacancies/hr.jpg') alt="HR-специалист")
        .vacancies-offer__hr-desc
          .vacancies-offer__hr-title HR-специалист
          .vacancies-offer__hr-name Маргарита Аронская
          a.vacancies-offer__hr-phone(href="tel:+79215931683")
            img(src=require('@/assets/img/vacancies/phone.svg') alt="")
            span +7 (921) 593 16 83
          a.vacancies-offer__hr-mail(href="mailto:m.aronskaya@sotrans.ru")
            img(src=require('@/assets/img/vacancies/mail.svg') alt="")
            span  m.aronskaya@sotrans.ru
      .vacancies-offer__txt
        p Работа на Механическом заводе СОТРАНС — это качество, оперативность и возможность решать самые сложные задачи.
        p Отправляйте резюме и присоединяйтесь к команде лидеров рынка!
      .vacancies-offer__buttons
        button.vacancies-offer__summary Отправить резюме
        button.vacancies-offer__call Отправить резюме

