header.header.header_policy
  .container
    a.header__logo(href="index.html").slide-right
      | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/global/header-logo.svg')}
    nav.header__menu
      .header__menu-close
        img(src=require('@/assets/img/global/close-white.svg') alt="")
      each el in headerMenuPolicy
        a.header__menu-item.slide-right(href=el.url) #{el.name}
    a.header__phone.slide-up(href="tel:+79214245572")
      | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/global/phone.svg')}
      span +7 (921) 424-55-72
    button.header__burger.slide-up
      img(src=require('@/assets/img/global/burger.svg') alt="")
