footer.footer
  .footer__top
    .container
      .footer__logo.slide-right
        img(src=require('@/assets/img/footer/footer-logo.svg') alt="footer logo")
      .footer__menu.slide-up
        .footer__menu-block
          a.footer__menu-link(href=":javascript") О компании
          a.footer__menu-link(href="products.html") Продукция
          a.footer__menu-link.footer__menu-link_sm(href="special.html") Спецтехника
          a.footer__menu-link.footer__menu-link_sm(href="semitrailers.html") Полуприцепы
        .footer__menu-block
          a.footer__menu-link(href=":javascript") Оборудование
          a.footer__menu-link(href=":javascript") Ремонт
          a.footer__menu-link(href=":javascript") Дилерство
        .footer__menu-block
          a.footer__menu-link(href=":javascript") Гарантия и сервис
          a.footer__menu-link(href=":javascript") Новости
          a.footer__menu-link(href=":javascript") Контакты
      .footer__contacts.slide-left
        each el in footerContactsList
          if (el.url)
            a(href=el.url).footer__contacts-item
              img(src=el.icon alt=el.txt)
              span #{el.txt}
          else
            .footer__contacts-item
              img(src=el.icon alt=el.txt)
              span #{el.txt}
  .footer__bottom
    .container
      .footer__copyright.slide-right SOTRANS МЕХАНИЧЕСКИЙ ЗАВОД | © 2023 | Все права защищены
      .footer__policy.slide-left
        a(href="javascript:") Условия пользования сайтом
        span |
        a(href="javascript:") Политика конфиденциальности
