header.header
  .container
    .header__container.slide-right
      button.header__btn
        img(src=require('@/assets/img/global/burger.svg') alt="")
      a.header__logo(href="index.html")
        img(src=require('@/assets/img/global/header-logo.svg') alt="logo")
    .header__menu
      .header__menu-top
        button
          img(src=require('@/assets/img/global/close.svg') alt="close button")
      nav.header__menu-list.slide-left
        each el, index in headerMenu
          a(href=el.url) #{el.txt}
        .header__search
          input#search(type="text" name="search" placeholder="Поиск" autocomplete="off")
          .header__search-close
            img(src=require('@/assets/img/global/close-blue.svg') alt="")
        .header__search-btn
          img(src=require('@/assets/img/global/loupe.svg') alt="")
    .header__mobile-search
      input#search-mobile(type="text" name="search-mobile" placeholder="Поиск" autocomplete="off")
      .header__mobile-search-close
        img(src=require('@/assets/img/global/close-mobile.svg') alt="")
    .header__mobile-search-btn.slide-left
      img(src=require('@/assets/img/global/loupe-mobile.svg') alt="")
