mixin input(params)
  .form-input(class=params.class ? params.class : '')
    input(
      type=params.type
      name=params.name
      id=params.id
      placeholder=params.placeholder
      required=params.required
    )
    if (params.label)
      label(for=params.id) #{params.label}
