extends ../layouts/other/layout.pug

append variables
  -
    breadCrumbsList = [
      {
        url: '/',
        txt: 'Главная'
      }
    ]

block title
  | Golden Dragon

block content
  section.about
    .container
      h2.section-title.opacity-animation О компании
      .about__top
        .about__top-desc.slide-up
          p.about__txt Xiamen Golden Dragon Bus Co.,LTD основанная в 1992 году, разрабатывает и производит автобусы среднего и большого класса. Компания владеет 3-я заводами общая площадь которых составляет 960 тыс. м#[sup 2]. и производит более 40 000 единиц техники в год.
          .about__top-desc-image.slide-left
            img.cover-image(src=require('@/assets/img/about/top-desc.jpg') alt="")
        .about__top-image.slide-left
          img.cover-image(src=require('@/assets/img/about/top-image.jpg') alt="")
    .container
      .about__bottom
        .about__presentation.slide-right
          p.about__txt Компания ООО «Техцентры СОТРАНС» является эксклюзивным дистрибьютором автобусов марки Golden Dragon на территории Российской Федерации.
          a.about__presentation-download.btn.btn_trans(href=require('@/assets/docs/sotrans_presentation_2023.pdf') download)
            span Скачать презентацию
            | !{require('!svg-inline-loader?removeSVGTagAttrs=true!@/assets/img/global/download.svg')}
        .about__bottom-mobile-image.slide-up
          img.cover-image(src=require('@/assets/img/about/top-desc.jpg') alt="")
        p.about__txt.about__txt_bottom.slide-up
          span С 2003 года Xiamen Golden Dragon Bus Co.,LTD начала устанавливать отношения с зарубежными дистрибьюторами. В настоящее время автобусы компании экспортируются в 80 стран мира в регионах Азии, Ближнего Востока, Африки и Южной Америки.
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/about/about-bg.svg')}
        .about__bottom-image.slide-left
          img.cover-image(src=require('@/assets/img/about/bottom-image.jpg') alt="")

