extends ../layouts/map/layout.pug

append variables
  -
    breadCrumbsList = [
      {
        url: '/',
        txt: 'Главная'
      }
    ]

block title
  | Golden Dragon

block content
  section.contacts
    .container
      h2.section-title.opacity-animation Контакты
      .contacts__container
        .contacts__switcher
          each el, index in contactsList
            button.contacts__switcher-btn(data-id=index) #{el}
        .contacts__content
          .contacts__content-item(data-id='0')
            .contacts__info
              .contacts__info-name Центральный офис продаж
              .contacts__info-address Ленинградская область, пгт. Красный Бор, ул. Промышленная д.3
              .contacts__info-time
                img(src=require('@/assets/img/contacts/clock.svg') alt="")
                span пн-пт: 09:00-18:00
              a.contacts__info-mail(href="mailto:bus@sotrans.ru") bus@sotrans.ru
                img(src=require('@/assets/img/contacts/mail.svg') alt="")
                span bus@sotrans.ru
            .contacts__list.swiper
              .swiper-wrapper
                each  el in contactsItems
                  .swiper-slide
                    .swiper-slide__image
                      img(src=el.image alt="")
                    .swiper-slide__info
                      .swiper-slide__info-position #{el.position}
                      .swiper-slide__info-name #{el.name}
                      a.swiper-slide__info-phone(href=el.telUrl) #{el.telTxt}
                      a.swiper-slide__info-mail(href=`mailto:${el.mail}`) #{el.mail}
              .swiper-button-prev
                img(src=require('@/assets/img/contacts/vector-left.svg') alt="")
              .swiper-button-next
                img(src=require('@/assets/img/contacts/vector-right.svg') alt="")
            .contacts__map.contacts__map_red-forest#map



