extends ../layouts/other/layout.pug

append variables
  -
    breadCrumbsList = [
      {
        url: '/',
        txt: 'Главная'
      }
    ]
    mediaPage = true

block title
  | Golden Dragon

block content
  section.media
    .container
      h2.section-title.opacity-animation Новости и акции
      .switcher.slide-right
        button.switcher__btn.active(data-id='0') Фото
        button.switcher__btn(data-id='1') Видео
      .media__content.slide-left
        .media__content-item.switch-content.active(data-id='0')
          .media__content-container
            each el in mediaPhotos
              .media__photo
                img.cover-image(src=el alt="")
          ul.pagination
            li.page-item.disabled(aria-disabled='true' aria-label='pagination.previous')
              span.page-link(aria-hidden='true')
                | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/global/pag-arrow-left.svg')}
                | Назад
            li.page-item.active(aria-current='page')
              span.page-link 1
            li.page-item
              a.page-link(href='javascript:') 2
            li.page-item
              a.page-link(href='javascript:') 3
            li.page-item.disabled(aria-disabled='true')
              span.page-link ...
            li.page-item
              a.page-link(href='javascript:') 10
            li.page-item
              a.page-link(href='javascript:' rel='next' aria-label='pagination.next')
                | Дальше
                | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/global/pag-arrow-right.svg')}
        .media__content-item.switch-content(data-id='1')
          .media__content-container
            each el in mediaVideos
              .media__video
                .media__video-overlay
                video(
                  loop
                  muted
                  preload="none"
                  poster=el.poster
                )
                  source(src=el.video type="video/mp4")







