extends ../layouts/other/layout.pug

append variables
  -

block title
  | Golden Dragon

block content
  section.news-page
    a(href="#").back__btn.opacity-animation
      | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/news-page/back.svg')}
      span Назад

    h2.news-page__title.opacity-animation Фотоотчёт с выставки BW Expo 2022
    .news-page__date.opacity-animation
      p 31 марта 2023
    .news-page__img.slide-right
      img(src=require("@/assets/img/news-page/main-expo.png") alt="" loading="lazy")
    .news-page__text.slide-up
      p Компания СОТРАНС приняла участие в выставке автобусной техники BW Expo 2022.Выставка проходила в Москве с 29 ноября по 1 декабря в крупнейшем выставочном комплексе «Крокус Экспо». Наша компания представила на выставке рестайлинговую модель «Golden Dragon».
    .news-page__swiper-wrapper.slide-left
        .swiper-container.swiper
          .swiper-wrapper
            .swiper-slide
              img(src=require("@/assets/img/news-page/slide1.png") alt="" loading="lazy")
            .swiper-slide
              img(src=require("@/assets/img/news-page/main-expo.png") alt="" loading="lazy")
            .swiper-slide
              img(src=require("@/assets/img/news-page/slide1.png") alt="" loading="lazy")
          .swiper-button-prev
            img(src=require('@/assets/img/news-page/Vector-left.svg') alt="" loading="lazy")
          .swiper-button-next
            img(src=require('@/assets/img/news-page/Vector-right.svg') alt="" loading="lazy")
          .swiper-pagination
    .news-page__text.slide-up Больше фотографий с мероприятия смотрите в новом альбоме «BW Expo 2022» в группе в ВК.
    a(href="#").news-page__link.slide-right
      img(src=require("@/assets/img/news-page/vk.svg") alt="vk" loading="lazy" width="19" height="19")
      p группа ВКонтакте








