extends ../layouts/other/layout.pug

append variables
  -
    breadCrumbsList = [
      {
        url: '/',
        txt: 'Главная'
      }
    ]

block title
  | Golden Dragon

block content
  section.technology
    .container
      h2.section-title.opacity-animation Технологии
    .technology__top
      .container
        .technology__top-image
          img(src=require('@/assets/img/technology/1.jpg') alt="")
        .technology__block
          h3.technology__block-title.technology__block-title_first
            span 01/
            | Качество
          .technology__block-desc
            p Качество является задачей первоочередной важности.
            p Golden Dragon предлагает по доступным ценам высококачественные транспортные средства, соответствующие стандартам своих потребителей и конкретным требованиям.
            p Компания инвестировала большие средства в производство и тестирование продукции, чтобы обеспечить её высокое качество. Кроме того, повсюду реализован стандарт ISO9001: 2000, а система контроля качества всего процесса строго выполняется для каждой конвейерной линии.
    .technology__middle
      .container
        each el in techBlocks
          if (!el.image)
            .technology__block
              h3.technology__block-title !{el.title}
              p.technology__block-txt !{el.txt}
          else
            .technology__image
              img.cover-image(src=el.image alt="")
    .technology__bottom
      .container
        .technology__grid
          img.cover-image(src=require('@/assets/img/technology/grid/1.jpg') alt="")
          img.cover-image(src=require('@/assets/img/technology/grid/2.jpg') alt="")
          img.cover-image(src=require('@/assets/img/technology/grid/3.jpg') alt="")
        .technology__block
          h3.technology__block-title #[span 07/] Испытательные стенды
          p.technology__block-txt Испытательные стенды используются для обеспечения высокого качества: инструмент для выравнивания колес, платформа для опрокидывания и т. д.
