extends ../layouts/other/layout.pug

append variables
  -
    breadCrumbsList = [
      {
        url: '/',
        txt: 'Главная'
      },
      {
        url: 'financial.html',
        txt: 'Финансовые услуги'
      }
    ]

block title
  | Golden Dragon

block content
  section.trade
    .container
      h2.section-title.opacity-animation Trade-in
      p.trade__txt.slide-up Одним из наиболее выгодных способов обновления подвижного состава является программа TRADE-IN, которая заключается в одновременной продаже техники с пробегом и покупке нового транспортного средства. Стоимость старой технике становится первым взносом в счет оплаты новой.
      p.trade__txt.slide-up
        b TRADE-IN существенно экономит Ваше время и денежные средства, а также гарантирует безопасность сделки.
      .trade__grid.slide-left
        .trade__item
          .trade__item-icon
            span 01/
            span
              img(src=require('@/assets/img/trade-in/1.svg') alt="")
          h3.trade__item-title Выбор нового автобуса
          p.trade__item-txt.trade__txt Компания ООО «Техцентры СОТРАНС» предлагает широкий выбор моделей автобусов GOLDEN DRAGON в наличии и под заказ.
          a.trade__item-link.btn.btn_trans(href="lineup.html")
            span Перейти в каталог
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/trade-in/arrow.svg')}
        .trade__item
          .trade__item-icon
            span 02/
            span
              img(src=require('@/assets/img/trade-in/2.svg') alt="")
          h3.trade__item-title Оценка Вашего автомобиля
          p.trade__item-txt.trade__txt Для предварительной оценки стоимости вашей техники можно направить фотографии на электронную почту специалиста TRADE-IN или отправить заявку на сайте (сделать форму). Для более детальной диагностики транспортного средства необходимо приехать в один из сервисных центров компании (контакты или ссылка)ООО «Техцентры СОТРАНС» принимает к обмену грузовики, седельные тягачи, коммерческие автомобили, строительную и специальную технику (в том числе экскаваторы, бульдозеры, погрузчики), прицепы и полуприцепы отечественных и европейских марок.
        .trade__item
          .trade__item-icon
            span 03/
            span
              img(src=require('@/assets/img/trade-in/3.svg') alt="")
          h3.trade__item-title Оформление документов
          p.trade__item-txt.trade__txt Необходимо предоставить пакет документов для проверки юридической чистоты на право собственности. Сумма доплаты определяется и документально фиксируется договором купли-продажи. Доплата может быть произведена одним из удобных для Вас способов: аванс, кредит или лизинг.
        .trade__item
          .trade__item-icon
            span 04/
            span
              img(src=require('@/assets/img/trade-in/4.svg') alt="")
          h3.trade__item-title Получение новой техники
          p.trade__item-txt.trade__txt Программа TRADE-IN действует для юридических и физических лиц. Обратитесь, пожалуйста, к специалисту отдела TRADE-IN по телефону 8 (800) 222-22-22, который подберет для Вас новый автобус, отвечающим Вашим целям и задачам, а также проведет предварительную оценку техники с пробегом.

