header.header.header_main
  .container
    .header__top
      .header__logos.slide-down
        a(href="/")
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/header/sotrans-logo-white.svg')}
        a(href="javascript:")
          img(src=require('@/assets/img/header/dragon-logo.png') alt="")
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/header/dragon-caption-white.svg')}
      form.header__search.slide-down
        .header__search-field
          input#search(type="text" name="search" placeholder="Поиск...")
        .header__search-btn
      .header__contacts.slide-left
        a.header__contacts-phone(href="tel:88002223480")
          span 8 (800) #[span 222-34-80]
        .header__burger
          .header__burger-line
          .header__burger-line
    .header__bottom
      nav.menu.slide-right
        each el in headerMenu
          a.menu__item(href=el.url) #{el.txt}
        a.header__contacts-phone(href="tel:88002223480")
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/header/phone.svg')}
          span 8 (800) 222-34-80



