section.reviews-main
  .container
    h1.subtitle Отзывы пациентов
    p.description-text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
    .reviews-main-container
      .reviews-main-container-cards
        each el in reviewsMainLeft
          .reviews-main-card
            .reviews-main-card-top
              .reviews-main-card-top-info
                p=el.date
                h4=el.name
              .reviews-main-card-top-logo
                img(src=el.img alt)
            h5.reviews-main-card_title=el.title
            .reviews-main-card__text
              p.reviews_text=el.text
              .text-overlay.text-overlay-light-blue
            button.expand-btn Развернуть
      .reviews-main-container-cards
        each el in reviewsMainRight
          .reviews-main-card
            .reviews-main-card-top
              .reviews-main-card-top-info
                p=el.date
                h4=el.name
              .reviews-main-card-top-logo
                img(src=el.img alt)
            h5.reviews-main-card_title=el.title
            .reviews-main-card__text
              p.reviews_text=el.text
              .text-overlay.text-overlay-light-blue
            button.expand-btn Развернуть
    include ../../components/global/pagination
    .btn-else Показать еще



