.planning-info
  .planning-info_item
    .planning-info_item_title
      .planning-info_item_title-container
        button.planning-info_item_title-container__btn
          .planning-info_item_title-container__btn_plus
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/one-report/plus.svg')}
          .planning-info_item_title-container__btn_minus
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/one-report/minus.svg')}
        span Алтайский край
      each el in datesCountPlanning
        .planning-info_item_title-container
          span #{el.count}
    .planning-info_item-main
      .planning-info_item-main-city
        .planning-info_item-main-city_point
          span.planning-info_item-main-city_point__text Алтайский край
        .planning-info_item-main-city_point
          span.planning-info_item-main-city_point__text Алейск
        .planning-info_item-main-city_point
          .planning-info_item-main-city_point-car
            .planning-info_item-main-city_point-car-top
              +carNumberBtn('Е244ОВ198', 'red')
              | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/planning/stop.svg')}
              | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/planning/graf.svg')}
            span.planning-info_item-main-city_point-car-time.text-green (21.06 18:00 / 20:55)
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/planning/info.svg')}
        .planning-info_item-main-city_point
        .planning-info_item-main-city_point
        .planning-info_item-main-city_point
        .planning-info_item-main-city_point
        .planning-info_item-main-city_point
        .planning-info_item-main-city_point
      .planning-info_item-main-city
        .planning-info_item-main-city_point
          span.planning-info_item-main-city_point__text Алтайский край
        .planning-info_item-main-city_point
          span.planning-info_item-main-city_point__text Алейск
        .planning-info_item-main-city_point
          .planning-info_item-main-city_point-car
            .planning-info_item-main-city_point-car-top
              +carNumberBtn('Е244ОВ198', 'red')
              | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/planning/stop.svg')}
              | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/planning/graf.svg')}
            span.planning-info_item-main-city_point-car-time.text-green (21.06 18:00 / 20:55)
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/planning/info.svg')}
        .planning-info_item-main-city_point
        .planning-info_item-main-city_point
        .planning-info_item-main-city_point
        .planning-info_item-main-city_point
        .planning-info_item-main-city_point
        .planning-info_item-main-city_point

  .planning-info_item
    .planning-info_item_title
      .planning-info_item_title-container
        button.planning-info_item_title-container__btn
          .planning-info_item_title-container__btn_plus
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/one-report/plus.svg')}
          .planning-info_item_title-container__btn_minus
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/one-report/minus.svg')}
        span Алтайский край
      each el in datesCountPlanning
        .planning-info_item_title-container
          span #{el.count}

    .planning-info_item-main
      each el in planningCountCars
        .planning-info_item-main-city
          .planning-info_item-main-city_point
            span.planning-info_item-main-city_point__text #{el.region}
          .planning-info_item-main-city_point
            span.planning-info_item-main-city_point__text #{el.city}
          each elem in el.cars1
            .planning-info_item-main-city_point
              .planning-info_item-main-city_point-car
                .planning-info_item-main-city_point-car-top
                  +carNumberBtn(`${elem.numberTitle}`, `${elem.numberColor}`)
                  if (elem.stopIcon)
                    | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/planning/stop.svg')}
                  if (elem.grafIcon)
                    | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/planning/graf.svg')}
                span.planning-info_item-main-city_point-car-time(class=`text-${elem.timeColor}`) #{elem.time}
                if (elem.infoIcon)
                  | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/planning/info.svg')}
          each elem in el.cars2
            .planning-info_item-main-city_point
              .planning-info_item-main-city_point-car
                .planning-info_item-main-city_point-car-top
                  +carNumberBtn(`${elem.numberTitle}`, `${elem.numberColor}`)
                  if (elem.stopIcon)
                    | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/planning/stop.svg')}
                  if (elem.grafIcon)
                    | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/planning/graf.svg')}
                span.planning-info_item-main-city_point-car-time(class=`text-${elem.timeColor}`) #{elem.time}
                if (elem.infoIcon)
                  | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/planning/info.svg')}
          each elem in el.cars3
            .planning-info_item-main-city_point
              .planning-info_item-main-city_point-car
                .planning-info_item-main-city_point-car-top
                  +carNumberBtn(`${elem.numberTitle}`, `${elem.numberColor}`)
                  if (elem.stopIcon)
                    | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/planning/stop.svg')}
                  if (elem.grafIcon)
                    | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/planning/graf.svg')}
                span.planning-info_item-main-city_point-car-time(class=`text-${elem.timeColor}`) #{elem.time}
                if (elem.infoIcon)
                  | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/planning/info.svg')}








