header.header
  .container.container_flex
    a.header__logo(href="javascript:")
      img(src=require("@/assets/img/logo.svg") alt="")
      span Avtograph
    .header__links
      each el in headerLinks
        a.header__links-item(
          class=el.modifier ? `header__links-item_${el.modifier}` : ''
          href=el.href
        )
          | !{el.svg}
