header.header
  .container
    a.header__logo(href="https://sotrans.ru/")
      |!{require(`!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/global/logo.svg`)}
      img(src=require('@/assets/img/header/logo-mob.svg') alt="")
    nav.header__menu
      each el in headerLinks
        a(href=el.href) #{el.txt}
      .header__menu-vector
        img(src=require('@/assets/img/header/vector.svg') alt="")
    button.header__btn
      img(src=require('@/assets/img/header/burger.svg') alt="")

