section.about-main
  .container
    h1.subtitle О клинике
    .about-main-container
      .about-main-info
        p.about-main-info_text
          span ALMA MED&nbsp;
          | — медицинский центр неврологии и ортопедии. Мы  специализируемся на лечении заболеваний позвоночника и суставов без операций. Используем  современные методики и аппараты.
        p.about-main-info_text Приём ведут  неврологи, рефлексотерапевты, травматологи-ортопеды, физиотерапевты, реабилитологи, врачи функциональной диагностики.
        .about-main-img-mobile
          img(src=require('@/assets/img/about/photo.jpg'))
        .about-main-info-points
          h4 Помогаем избавиться от:
          ul
            each el in problems
              li=el
        .about-main-info-points.about-main-info-points-next
          h4 Проводим восстановительное и профилактическое лечение:
          ul
            each el in treatmentsPoints
              li=el
        .about-main-info-contacts
          a(href='tel:+73422583747').about-main-info-contacts-point
            .img
              | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/about/phone.svg')}
            span +7 (342) 258-37-47
          .about-main-info-contacts-point
            .img
              | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/about/time.svg')}
            span Пн.-Сб.: 9:00-20:00
      .about-main-img
        img(src=require('@/assets/img/about/photo.jpg'))
    .slider-four.about-main-slider#about-main-slider
      .swiper
        .swiper-wrapper
          each doc in aboutPageSlides
            .swiper-slide
              .docs-card
                img(src=doc alt="")
        .swiper-button-prev.swiper-button
        .swiper-button-next.swiper-button





