section.additional
  .container
    h2.section-title #[span 04] Дополнительное оборудование:
  .swiper
    .swiper-wrapper
      each el in additionalSlides
        .swiper-slide
          .swiper-slide-image
            img(src=el.image alt="")
          .swiper-slide-hidden
            .swiper-slide-hidden-txt #{el.txt}
            .swiper-slide-hidden-logo
              img(src=require('@/assets/img/polupritsepy/additional/logo.svg') alt="")
          .swiper-slide-mob-txt #{el.txt}
    .swiper-button-next
      img(src=require('@/assets/img/polupritsepy/additional/vector-right.svg') alt="")



