section.contacts-chiefs
  .container
    .contacts-chiefs__grid.slide-right
      each el in contactsGrid
        .contacts-chiefs__item
          .contacts-chiefs__item-image
            img(src=el.img alt="")
          .contacts-chiefs__item-info
            .contacts-chiefs__item-position #{el.position}
            h3.contacts-chiefs__item-name !{el.name}
            a.contacts-chiefs__item-phone(href=`tel:${el.phoneNumber}`) #{el.phoneTxt}
            a.contacts-chiefs__item-mail(href=`mailto:${el.mail}`) #{el.mail}





