section.sales
  .container
    .sales__top
      h2.section-title-txt Отдел продаж
      a.sales__phone.contacts-phone(href="tel:+7(812)4954202") Отдел продаж: #[span +7 (812) 495 42 02]
      a.sales__mail.contacts-mail(href="mailto:Support@sotrans.ru") Support@sotrans.ru
    .sales__contacts
      h2.section-title-txt Руководство
      ul.sales__contacts-list
        each el in contactsList
          li.sales__item
            .sales__item-image
              img(src=el.img alt="")
            .sales__item-position #{el.position}
            .sales__item-name #{el.name}
            a.contacts-phone(href=`tel:${el.phoneNumber}`) !{el.phoneTxt}
            a.contacts-mail(href=`mailto:${el.mail}`) #{el.mail}





