.menu
  img.menu__logo(src=require('@/assets/img/menu/logo.svg') alt="logo" loading='lazy')

  nav.menu__list
    ul
      li
        a(href='#')
          .list__img
            img(src=require('@/assets/img/menu/list.svg') alt="" loading='lazy')
          span Заявки
      li
        a(href='#')
         .list__img
           img(src=require('@/assets/img/menu/bell.svg') alt="" loading='lazy')
         span Уведомления
      li
        a(href='#')
          .list__img
            img(src=require('@/assets/img/menu/van.svg') alt="" loading='lazy')
          span Грузовики
      li
        a(href='#')
          .list__img
            img(src=require('@/assets/img/menu/rudder.svg') alt="" loading='lazy')
          span Водители
      li
        a(href='#')
          .list__img
            img(src=require('@/assets/img/menu/trailer.svg') alt="" loading='lazy')
          span Прицепы
      li
        a(href='#')
          .list__img
            img(src=require('@/assets/img/menu/tracker.svg') alt="" loading='lazy')
          span Трекеры
      li
        a(href='#')
          .list__img
            img(src=require('@/assets/img/menu/contr.svg') alt="" loading='lazy')
          span Контрагенты

  a(href="#").menu__btn Назад на Trucks.ru

  button.menu__toggle-btn
    img(src=require('@/assets/img/menu/toggle.svg') alt="" loading='lazy')





