section.catalog
  .container.container_m
    .catalog__main
      include catalog-form
      .catalog__products.slide-up
        each el in catalogItems
          .catalog__product
            .catalog__product-top
              h3.catalog__product-title #{el.name}
              .catalog__product-container
                if (el.status === 'stock')
                  .product-status-stock В наличии
                else if (el.status === 'order')
                  .product-status-order Под заказ
                .catalog__product-price #{el.price}
            .catalog__product-middle
              .catalog__product-images
                each image in el.images
                  img(src=image alt="")
              +characteristic-list(el.items)
            .catalog__product-bottom
              a.catalog__product-link.btn(href=el.link) Подробнее
      +btn-more('Показать еще')
    aside.catalog__aside.slide-up
      a.catalog__aside-link(href="javascript:")
        img(src=require('@/assets/img/catalog/souvenir.jpg') alt="")

