section.contacts
  .container.container_xs
    each el, index in contactsItemsDefault
      +contacts-item(el)
    .contacts__map.slide-right
      h2.other-page-title Площадки
      .contacts__map-buttons
        button.contacts__map-btn.active(data-id="0") Красный бор
        button.contacts__map-btn(data-id="1") Парнас
        button.contacts__map-btn(data-id="2") Елабуга
      .contacts__switch-content
        each el, index in contactsSwitchContent
          .contacts__switch-content-item(
            class=el.active ? 'active' : ''
            data-id=index
          )
            .contacts__map-container
              img(src=el.map alt="")
            .contacts__map-address #{el.address}
            .contacts__map-hours
              each hour in el.hours
                span #{hour}
            each item in el.items
              +contacts-item(item)
