section.feedback(class=serviceForm ? 'feedback_service':'')
  .container(
    class=serviceForm ? 'container_xs':''
    class=otherPageForm ? 'container_xs':''
  )
    if (mainForm)
      h2.feedback__title.section-title.slide-right Обратная связь
    else if (otherPageForm)
      h2.feedback__title.section-title.section-title_sm.slide-right Остались вопросы?
    else if (serviceForm)
      h2.feedback__title.feedback__title_service.slide-right Заполните заявку и наш специалист свяжется с вами в ближайщее время
    .feedback__content
      form.feedback__form(class=serviceForm ? 'feedback__form_service':'')
        .feedback__form-fields
          .feedback__form-grid(class=serviceForm ? 'feedback__form-grid_service':'')
            if (serviceForm)
              select#categoryId.feedback__form-select.slide-right(name='categoryId' data-request='onProductFilterAjax' data-request-update="filter: '#productFilter'")
                option(value='engineRepair') Ремонт двигателей
                option(value='carRepair') Ремонт автомобилей
                option(value='carTO') ТО автомобилей
            .feedback__form-input
              input(type="text" name="name" required)
              span Ваше имя
            .feedback__form-input
              input(type="tel" name="tel" required)
              span Ваш телефон
            .feedback__form-input
              input(type="email" name="mail" required)
              span E-mail для связи
            .feedback__form-textarea.slide-up
              textarea(name="comment" placeholder="Комментарий")
          .feedback__form-bottom.slide-up
            button(type="submit").feedback__form-submit.btn.btn_sm Отправить
            .feedback__form-policy
              span Продолжая, вы принимаете нашу
              a(href="javascript:") Политику конфиденциальности
        .feedback__form-lottie
