section.parts
  .container.container_xs
    h2.other-page-title.slide-right Оригинальные запчасти КАМАЗ
    .parts__links.slide-up
      a.btn(href="catalog.html") Каталог запчастей
      a(
        href="http://www.kamaz.ru/production/parts/protection-against-counterfeiting/"
        target="_blank"
        rel="noopener noreferrer"
      ) Защита от контрафакта
      a(
        href="http://www.kamaz.ru/production/related/engines/"
        target="_blank"
        rel="noopener noreferrer"
      ) Двигатели и силовые агрегаты
    p.section-txt.slide-up Любая машина, которая активно эксплуатируется, изнашивается. Для дальнейшей исправности автомобиля необходимо заменить некоторые устаревшие детали. Чтобы ваш КАМАЗ и дальше работал также хорошо, как и раньше (а иногда даже лучше), рекомендуем покупать оригинальные автозапчасти у проверенных поставщиков.
    .other-page-image.slide-right
      img(src=require('@/assets/img/parts/1.png') alt="")
    p.section-txt.slide-up Возможно, в целях экономии, вы отдаете предпочтение неоригинальным запчастям. В таком случае, помните, что такие запасные детали быстрее приходят в негодность и гораздо менее надежны. Во-первых, придется гораздо раньше повторно заменить деталь. Во-вторых, некачественные запчасти могут помешать своевременной доставке груза, а это уже серьезные финансовые потери.
    .other-page-image.slide-right
      img(src=require('@/assets/img/parts/2.jpg') alt="")
    p.section-txt.slide-up ПАО «КАМАЗ» тщательно подходит к отбору поставщиков и входному контролю качества комплектующих изделий. Оригинальные запасные части имеют фирменную упаковку с элементами защиты и уникальный каталожный номер ПАО «КАМАЗ». Использование оригинальных запасных частей залог долговечности работы вашей автотехники.
    p.section-txt.slide-up Официальный представитель ПАО «КАМАЗ» - ООО «Техцентры СОТРАНС» предоставляет большой выбор оригинальных запчастей для КАМАЗ в Санкт-Петербурге. Наш ассортимент позволяет подобрать автозапчасти для любой модели и части машины: от мелких узлов до силовых агрегатов и кабин. Все представленные товары есть в наличии.
