section.product-info
  .container.container_sm
    .product-info__slider
      h2.product-info__name.section-title.slide-right 54901
      .swiper.swiper__main
        .swiper-wrapper
          each el in productPageSlider
            .swiper-slide
              img(src=el alt="")
        .swiper-pagination
      .swiper.swiper__thumbs(thumbsSlider="")
        .swiper-wrapper
          each el in productPageSlider
            .swiper-slide
              img(src=el alt="")
    .product__panel
      .product-status-stock В наличии
      .product__panel-container
        .product__panel-price
        a.product__panel-call.btn(href="javascript:") Заказать звонок
      .product__panel-grid
        ul.characteristic-list
          each el in productPagePanelItems
            li.characteristic-list__item
              span #{el.name}
              span #{el.value}
      a.product__panel-more(href="#")
        | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/product-page/arrow-dark-gray.svg')}
        | Доступные модификации
