section.search
  .container.container_sm
    .search__field.slide-right
      input(type="text" name="search" placeholder="Поиск")
      img(src=require('@/assets/img/search/glass.svg') alt="")
    h2.search__title.slide-right Результаты поиска
    .search__results
      each el in searchItems
        .search__item.slide-up
          .search__item-top
            h3.search__item-title !{el.title}
            .search__item-category !{el.category}
          .search__item-middle
            p.search__item-description !{el.description}
          .search__item-bottom
            a.search__item-link.btn(href=el.href) Перейти на страницу
    .search__pagination
      ul
        each num, index in searchPagination
          li
            a(href="javascript:" class=index === 0 ? 'active':'') #{num}
