section.top-slider
  .container
    .top-slider__description
      h1.top-slider__title.section-title.slide-right !{topSliderTitle}
      .top-slider__text.slide-up(class=txtModifier ? `top-slider__text_${txtModifier}`:'') !{topSliderText}
      .top-slider__links.slide-up
        a.top-slider__links-catalog.btn.btn_slider(href="javascript:") В каталог
        a.top-slider__links-tech(href="javascript:") или подобрать технику
  .top-slider__rect
  .top-slider__desktop
    .swiper
      .swiper-wrapper
        each el in topSliderDesktop
          .swiper-slide
            img(src=el alt="")
