section.working
  .container.container_xs
    .working__container
      .working__item.working__item_refactoring
        .working__item-visible
          .working__item-svg
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/working/refactoring.svg')}
          h3.other-page-title Переоборудование автомобиля
        .working__item-hidden
          .working__item-images
            each el in workingItemImagesFirst
              img(src=el alt="")
          p.section-txt Предоставляем услуги по переоборудованию техники на собственной производственной базе. С полным документальным сопровождением.
          p.other-page-accord-txt Установка платформ:
          +list-without-anim(refactoringList)
          p.other-page-accord-txt Переоборудование тягачей под ДОПОГ
          p.other-page-accord-txt.other-page-accord-txt_margin Гидрофикация тягачей
          p.other-page-accord-txt.other-page-accord-txt_margin Установка КМУ
          .working__item-pad
      .working__item.working__item_trade-in
        .working__item-visible
          .working__item-svg
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/working/trade-in.svg')}
          h3.other-page-title Trade-In
        .working__item-hidden
          .working__item-images
            each el in workingItemImagesSecond
              img(src=el alt="")
          p.other-page-accord-txt.other-page-accord-txt_margin Trade-In от КАМАЗ – возможность освободить свое время и средства:
          +list-without-anim(traidInList)
          .working__item-switch
            .working__item-switch-buttons
              button.working__item-switch-btn.active(data-id=0) Выгодно
              button.working__item-switch-btn(data-id=1) Удобно
              button.working__item-switch-btn(data-id=2) Важно
          .working__item-switch-container
            .working__item-switch-content.active(data-id=0)
              +list-without-anim(traidInListProfit)
            .working__item-switch-content(data-id=1)
              +list-without-anim(traidInListComfort)
            .working__item-switch-content(data-id=2)
              p.section-txt Программа действует как для юридических так и для физических лиц.
          .working__item-pad
      .working__item.working__item_delivery
        .working__item-visible
          .working__item-svg
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/working/delivery.svg')}
          h3.other-page-title Доставка техники
        .working__item-hidden
          .working__item-images
            each el in workingItemImagesThird
              img(src=el alt="")
          p.section-txt Осуществляем доставку любой техники по всей территории Российской Федерации. #[br] Для получении информации об ориентировочной стоимости услуги воспользуйтесь калькулятором.
          .working__item-steps
            .working__item-steps-num
              span.active(data-id=0) Шаг 1
              span(data-id=1) Шаг 2
              span(data-id=2) Шаг 3
            form.working__item-steps-form(action="")
              .working__item-steps-content.active(data-id=0)
                h3.other-page-title Расчет стоимости
                .working__item-steps-input.form-input
                  input#startAdress(type='text' name='startAdress' required autocomplete='off')
                  span Введите адрес доставки
              .working__item-steps-content(data-id=1)
                h3.other-page-title Выберите дилерский центр
                .working__item-steps-radio
                  input#bor.bounce(type='radio' name='sotrans-office' value='30.651757,59.667685')
                  label(for='bor' title='Вкладка 1') Красный бор
                  input#parnas(type='radio' name='sotrans-office' value='30.375390,60.055807')
                  label(for='parnas' title='Вкладка 2') Парнас
                .working__item-steps-input.form-input
                  input#endAddress(type='text' name='office' autocomplete='off')
                  span Или введите свой адрес
              .working__item-steps-content(data-id=2)
                h3.other-page-title Примерная стоимость: ~ #[span#deliveryResponse 9 956 рублей]
                .working__item-steps-map
                  img(src=require('@/assets/img/working/map.jpg') alt="")
                p.section-txt Оставьте свои контактные данные и наш специалист свяжется с вами для уточнения заявки
                .working__item-steps-fields
                  .working__item-steps-input.form-input
                    input(type="text" name="name" autocomplete='off')
                    span Ваше имя
                  .working__item-steps-input.form-input
                    input(type="tel" name="tel" autocomplete='off')
                    span Ваш телефон
                  .working__item-steps-input.form-input
                    input(type="email" name="mail" autocomplete='off')
                    span E-mail для связи
              .working__item-steps-buttons
                button.working__item-steps-btn.btn(data-action="next") Далее
                button.working__item-steps-btn.disabled(data-action="prev") Вернуться назад
                .working__item-steps-policy.disabled Продолжая, вы принимаете нашу #[a(href="javascript:") Политику конфиденциальности]
          .working__item-pad
      .working__item.working__item_inshurance
        .working__item-visible
          .working__item-svg
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/working/inshurance.svg')}
          h3.other-page-title Страхование
        .working__item-hidden
          .working__item-images
            each el in workingItemImagesFourth
              img(src=el alt="")
          p.other-page-accord-txt.other-page-accord-txt_margin Trade-In от КАМАЗ – возможность освободить свое время и средства:
          p.section-txt Подходим к каждому проекту страхования автопарка индивидуально и составляем программу страхования, опираясь на потребности страхователя, состав, возраст и условия работы автопарка.
          +list-without-anim(inshuranceList)
          .working__item-pad
