header.header
  .header__mobile-menu
    .header__mobile-menu-top

    .header__mobile-menu-bottom
  .container
    .header__top
      .header__mobile-container
        button.header__burger
          img(src=require('@/assets/img/global/burger.svg') alt="")
          img(src=require('@/assets/img/global/close-menu.svg') alt="")
        a.header__mobile-logo(href="/")
          img(src=require('@/assets/img/global/logo-mob.svg') alt="")
      .header__top-menu
        each el in headerTopMenu
          a(href=el.url) #{el.txt}
      .header__contacts
        .header__contacts-container
          .header__contacts-address г. Пермь, ул. Николая Островского, д. 30
          a.header__contacts-phone(href="tel:+73422583747") +7 (342) 258-37-47
        button.white-btn.header__contacts-btn(data-modal="modal_call-request")
          span Заказать звонок
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/global/phone-white.svg')}
    .header__bottom
      a.header__bottom-logo(href="/")
        | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/global/logo.svg')}
      .header__bottom-menu
        each el in headerBottomMenu
          .header__bottom-menu-block
            each menuItem in el
              a(href=menuItem.url data-id=menuItem.id)
                span #{menuItem.txt}
                span !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/global/vector-down-menu-white.svg')}
  .header__hidden
    each el in hiddenMenu
      .header__hidden-item(data-id=el.id)
        .container
          if (el.leftMenu)
            .header__hidden-left
              each leftBtn, index in el.leftMenu
                .header__hidden-btn(data-id=index)
                  span #{leftBtn.txt}
                  span !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/global/arrow-right-blue.svg')}
          .header__hidden-links
            if (el.leftMenu)
              each leftBtn, index in el.leftMenu
                .header__hidden-links-item(data-id=el.index)
                  each linkBlock in el.links
                    .header__hidden-links-block
                      each link in linkBlock
                        a(href=link.url) #{link.txt}
            else
              .header__hidden-links-item
                each linkBlock in el.links
                  .header__hidden-links-block
                    each link in linkBlock
                      a(href=link.url) #{link.txt}



