mixin product-slider(params)
  .product-slider.slide-up
    .swiper.main-slider
      .swiper-wrapper
        each el in params
          .swiper-slide
            img(src=el alt="")
            .swiper-modal-btn
              | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/global/slider-btn.svg')}
      .swiper-pagination
      .swiper-button-next
        | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/global/vector-right-blue.svg')}
      .swiper-button-prev
        | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/global/vector-left-blue.svg')}
    .swiper.thumb-slider(thumbsSlider="")
      .swiper-wrapper
        each el in params
          .swiper-slide
            .swiper-slide-image
              img(src=el alt="")
  .product-slider__modal
    .product-slider__modal-body
      .product-slider__modal-close
        | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/global/close-blue-lg.svg')}
      .swiper.thumb-modal-slider(thumbsSlider="")
        .swiper-wrapper
          each el in params
            .swiper-slide
              .swiper-slide-image
                img(src=el alt="")
      .swiper.main-modal-slider
        .swiper-wrapper
          each el in params
            .swiper-slide
              img(src=el alt="")
        .swiper-pagination
        .swiper-button-next
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/global/vector-right-blue.svg')}
        .swiper-button-prev
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/global/vector-left-blue.svg')}

