mixin production-slider(params)
  .production-slider.slide-up(class=params.modifier ? `production-slider_${params.modifier}`:'')
    .swiper
      .swiper-wrapper
        each el in params.slides
          .swiper-slide
            img(src=el alt="")
      .swiper-pagination
      .swiper-button-next
        | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/global/vector-right-blue.svg')}
      .swiper-button-prev
        | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/global/vector-left-blue.svg')}
