section.main-page.container
  .main-slider#main-slider
    .swiper
      .swiper-wrapper
        each slide in mainPageSlides
          .swiper-slide
            .main-page-swiper-slide-info
              h2=slide.title
              p=slide.text
              .swiper-slide-main-btns
                button.btn.btn-fill(data-modal="modal_sign-up") Записаться
                button.btn.btn-trans(data-modal="modal_ask-question") Подробнее
            .swiper-slide_img
              img(src=slide.img alt)
      .swiper-pagination
      .swiper-button-prev.swiper-button
      .swiper-button-next.swiper-button
  .main-page-cards
    each card in mainPageCards
      .main-page-cards-item
        .main-page-cards-item__img
          img(src=card.img alt="")
        span.main-page-cards-item_title=card.title
        p.description-text=card.text


