section.main-page.container
  .main-slider#main-slider
    .swiper
      .swiper-wrapper
        each slide in mainPageSlides
          .swiper-slide
            img(src=slide.img alt="")
      .swiper-pagination
      .swiper-button-prev.swiper-button
      .swiper-button-next.swiper-button
  .main-slider-mobile#main-slider-mobile
    .swiper
      .swiper-wrapper
        each slide in mainPageSlidesMob
          .swiper-slide
            img(src=slide.img alt="")
      .swiper-pagination
  .main-page-cards
    each card in mainPageCards
      .main-page-cards-item
        .main-page-cards-item__img
          img(src=card.img alt="")
        span.main-page-cards-item_title=card.title
        p.description-text=card.text


