section.treatment

    h3.subtitle.container Лечение, профилактика и реабилитация в Перми
    .container
      p.description-text Противоположная точка зрения подразумевает, что представители современных социальных резервов лишь добавляют фракционных разногласий и в равной степени предоставлены сами себе.
    .treatment-switcher-container
      .treatment-switcher
            .treatment-switcher-btns
              each el, index in switcherButtons
                button.treatment-switcher-btn(data-id=index)
                  h5=el.title
                  p=el.description
                  .treatment-switcher-btn_indicator
            .treatment-switcher-indificator-line
    .container
      each el, index in treatmentServiceCard
        .treatment-service-card(data-id=index class=index === 0 ? 'active' : '')
          .treatment-service-card-info
            h4=el.title
            p.treatment-service-card-info_text=el.description
            .treatment-service-card-img-mobile
              img(src=el.img alt='')
            p.treatment-service-card-info_price Стоимость:
              span=el.price
            p.treatment-service-card-info_date (Акция действует до #{el.date})
            .treatment-service-card-info-btns
              button.btn.btn-fill(data-modal="modal_sign-up") Записаться
              button.btn.btn-trans(data-modal="modal_ask-question") Подробнее
          .treatment-service-card-img
            img(src=el.img alt='')






