.route
  .route-map
    img(src=require('@/assets/img/one-application/route.svg') alt="" loading="lazy")
  .icon-description
    .icon-description_item
      .icon-description_item__img
        img(src=require('@/assets/img/one-application/line-orange.svg') alt="" loading="lazy")
      span Плановый маршрут
    .icon-description_item
      .icon-description_item__img
        img(src=require('@/assets/img/one-application/line-green.svg') alt="" loading="lazy")
      span Фактический маршрут
    .icon-description_item
      .icon-description_item__img
        img(src=require('@/assets/img/one-application/line-red.svg') alt="" loading="lazy")
      span Неучтенный маршрут
    .icon-description_item
      .icon-description_item__img
        img(src=require('@/assets/img/one-application/line-blue.svg') alt="" loading="lazy")
      span Маршрут по мобильным координатам
    .icon-description_item
      .icon-description_item__img
        img(src=require('@/assets/img/one-application/A.svg') alt="" loading="lazy")
      span Точки заявки
    .icon-description_item
      .icon-description_item__img
        img(src=require('@/assets/img/one-application/fl.svg') alt="" loading="lazy")
      span Заправки
    .icon-description_item
      .icon-description_item__img
        img(src=require('@/assets/img/one-application/Ellipse.svg') alt="" loading="lazy")
      span Промежуточные точки заявки
    .icon-description_item
      .icon-description_item__img
        img(src=require('@/assets/img/one-application/Ellips.svg') alt="" loading="lazy")
      span Точки фактического маршрута
    .icon-description_item
      .icon-description_item__img
        img(src=require('@/assets/img/one-application/Ellipse-red.svg') alt="" loading="lazy")
      span Точки остановок
    .icon-description_item
      .icon-description_item__img
        img(src=require('@/assets/img/one-application/Ellipse-green.svg') alt="" loading="lazy")
      span Контрольные точки
