mixin select(title, option1, option2, option3)
  .select
    .select-trigger.selected-option
      span.selected-option__text=title
      .selected-option__toggle-btn
        | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/home/arrow-select.svg')}
    .select-options
      input(type='radio' value=`${title}` name=`${title}1` id=`${title}1`)
      label(for=`${title}1`)=title
      input(type='radio' value=`${option1}` name=`${title}1` id=`${option1}1${title}`)
      label(for=`${option1}1${title}`)=option1
      input(type='radio' value=`${option2}` name=`${title}1` id=`${option2}1${title}`)
      label(for=`${option2}1${title}`)=option2
      input(type='radio' value=`${option3}` name=`${title}1` id=`${option3}1${title}`)
      label(for=`${option3}1${title}`)=option3
