section.contacts-main
  .container
    +prev-link('Назад', 'javascript:')
    h3.subtitle Контакты
    .contacts-main-container
      each el in contactsPage
        .contacts-main-item
          h6.contacts-main-item_title=el.name
          if el.link
            a(href=el.link)=el.text
          else
            span=el.text
      .contacts-main-item.contacts-main-item-social
        h6.contacts-main-item_title Социальные сети
        .contacts-main-item-social-container
          a.vk(href='javascript:')
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/contacts/vk.svg')}
          a.tg(href='javascript:')
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/contacts/tg.svg')}
    .map-container
      .map__img
        img(src=require('@/assets/img/index/contacts/map.jpg'))


