mixin contacts-item(params)
  .contacts__item.slide-up(
    data-id=params.dataId
    class=params.active ? 'active' : ''
  )
    .contacts__item-image
      img(src=params.image alt="")
    .contacts__item-info
      .contacts__item-name #{params.name}
      .contacts__item-position #{params.position}
      if (params.additional)
        a.contacts__item-tel(href=`tel:${params.telFirst}`) #{params.telFirst} #{params.additional}
      else
        a.contacts__item-tel(href=`tel:${params.telFirst}`) #{params.telFirst}
      if (params.telSecond)
        a.contacts__item-tel(href=`tel:${params.telSecond}`) #{params.telFirst}
      a.contacts__item-mail(href=`mailto:${params.mail}`) #{params.mail}
