.filter
  .filter__search
    input(type="text" name="search" placeholder="Поиск Имени")
  .filter__sort
    .filter__sort-txt Сортировать по:
    .filter__sort-select
      .filter__sort-select-arrow
        img(src=require("@/assets/img/arrow-down.svg") alt="")
      .filter__sort-select-value Дата
      .filter__sort-select-options
        each el in filterSelectOptions
          .filter__sort-select-item(
            data-value=el.value
            class=el.modifier ? `filter__sort-select-item_${el.modifier}` : ''
          ) #{el.text}
