section.news
  .container
    .news__grid
      each el in newsListSecond
        .news__item(class=el.modifier ? `news__item_${el.modifier}`:'')
          .news__item-image
            img(src=el.img alt="")
          .news__item-content
            .news__item-date #{el.date}
            h3.news__item-title #{el.title}
            p.news__item-txt #{el.txt}
            a.news__item-link.btn.btn_yellow(href=el.url) Читать далее
    ul.pagination
      each el, index in paginationList
        li
          a(href="javascript:" class = index === 0 ? 'active' : '') #{el}


