extends ../layouts/main/layout.pug

block title
  | TRUCKS.POINT

block content
  section.application
    h3.application__title
      | Список заявок (Отображены
      strong  1-30
      |  из
      strong  5101
      |  )

    .application_search

      .application_search_toggle
        h4.application_search_toggle__title Найти заявку
        button.application_search_toggle__btn#applicationToggle
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/toggle.svg')}


      form.application_search_form
        .application_search_form-closed
          .application_search_form-closed__input
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/search.svg')}
            input(type="search" placeholder="Найти заявку")

        .application_search_form-disclosed
          .application_search_form-disclosed_form
            .application_search_form-disclosed_form-top
              .application_search_form-disclosed_form-top_input
                | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/point-A.svg')}
                span.application_search_form-disclosed_form-top_input__text Откуда, город или область
                button.application_search_form-disclosed_form-top_input-btn
                  | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/toggle-light.svg')}
              .application_search_form-disclosed_form-top_date
                .application_search_form-disclosed_form-top_date-from Дата загрузки, От
                .application_search_form-disclosed_form-top_date-to Дата загрузки, До
              .application_search_form-disclosed_form-top_inputs
                .application_search_form-disclosed_form-top_inputs_item
                  span.application_search_form-disclosed_form-top_input__text Номер машины
                  button.application_search_form-disclosed_form-top_input-btn
                    | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/toggle-light.svg')}
                .application_search_form-disclosed_form-top_inputs_item
                  span.application_search_form-disclosed_form-top_input__text Водитель
                  button.application_search_form-disclosed_form-top_input-btn
                    | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/toggle-light.svg')}

            .application_search_form-disclosed_form-top
              .application_search_form-disclosed_form-top_input
                | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/point-B.svg')}
                span.application_search_form-disclosed_form-top_input__text Куда, город или область
                button.application_search_form-disclosed_form-top_input-btn
                  | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/toggle-light.svg')}
              .application_search_form-disclosed_form-top_date
                .application_search_form-disclosed_form-top_date-from Дата выгрузки, От
                .application_search_form-disclosed_form-top_date-to Дата выгрузки, До
              .application_search_form-disclosed_form-top_input
                span.application_search_form-disclosed_form-top_input__text Контрагент
                button.application_search_form-disclosed_form-top_input-btn
                  | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/toggle-light.svg')}

            .application_search_form-disclosed_form-top
              .application_search_form-disclosed_form-top_input
                input(type='text' placeholder='Номер заявки (ID, номер, номер в 1С)').application_search_form-disclosed_form-top_input__text
              .application_search_form-disclosed_form-top_input
                span.application_search_form-disclosed_form-top_input__text Статус
                button.application_search_form-disclosed_form-top_input-btn
                  | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/toggle-light.svg')}
              .application_search_form-disclosed_form-top_input
                span.application_search_form-disclosed_form-top_input__text Логист или ответственный
                button.application_search_form-disclosed_form-top_input-btn
                  | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/toggle-light.svg')}

          .application_search_form-disclosed_checkboxes
            .application_search_form-disclosed_checkboxes__item
              input(type="checkbox" id="myCars" name="Мои машины")
              label(for="myCars") С моими машинами






        .application_search_form_buttons
          button(type="submit").application_search_form_buttons_btn.application_search_form_buttons_btn-orange
            span создать заявку
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/btn-orange.svg')}
          button(type="reset")#application-btn-reset.application_search_form_buttons_btn.application_search_form_buttons_btn-gray.application_search_form_buttons_btn-gray-reset
            span сбросить
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/reset.svg')}
          button(type="button").application_search_form_buttons_btn.application_search_form_buttons_btn-gray
            span обновить
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/update.svg')}


















