extends ../layouts/main/layout.pug

block title
  | TRUCKS.POINT

block content
  section.application
    button.close-btn
      | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/trucks/close.svg')}
    h3.application__title
      | Список заявок (Отображены
      strong  1-30
      |  из
      strong  5101
      |  )

    .application_search

      .application_search_toggle
        h4.application_search_toggle__title Найти заявку
        button.application_search_toggle__btn#applicationToggle
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/toggle.svg')}


      form.application_search_form
        .application_search_form-closed
          .application_search_form-closed__input
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/search.svg')}
            input(type="search" placeholder="Найти заявку")

        .application_search_form-disclosed
          .application_search_form-disclosed_form
            .application_search_form-disclosed_form-top
              .application_search_form-disclosed_form-top_input.application_search_form-disclosed_form-top_input_z
                | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/point-A.svg')}
                input(type='search' placeholder='Откуда, город или область').application_search_form-disclosed_form-top_input__text
                button.application_search_form-disclosed_form-top_input-btn#btnAppFromCityes
                  | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/toggle-light.svg')}
                .application_search_form-disclosed_form-top_input_from-cityes
                  ul
                    li
                      input(type='radio' id="abakan" name='From-City').check-mark
                      label(for="abakan") Абакан
                    li
                      input(type='radio' id="aleisk" name='From-City').check-mark
                      label(for="aleisk") Алейск
                    li
                      input(type='radio' id="armavir" name='From-City').check-mark
                      label(for="armavir") Армавир
              .application_search_form-disclosed_form-top_date
                .application_search_form-disclosed_form-top_date-from Дата загрузки, От
                .application_search_form-disclosed_form-top_date-to Дата загрузки, До
              .application_search_form-disclosed_form-top_inputs
                .application_search_form-disclosed_form-top_inputs_item
                  span.application_search_form-disclosed_form-top_input__text Номер машины
                  button.application_search_form-disclosed_form-top_input-btn
                    | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/toggle-light.svg')}
                .application_search_form-disclosed_form-top_inputs_item
                  span.application_search_form-disclosed_form-top_input__text Водитель
                  button.application_search_form-disclosed_form-top_input-btn
                    | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/toggle-light.svg')}

            .application_search_form-disclosed_form-top
              .application_search_form-disclosed_form-top_input.application_search_form-disclosed_form-top_input-to
                | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/point-B.svg')}
                input(type='search' placeholder='Куда, город или область').application_search_form-disclosed_form-top_input__text
                button.application_search_form-disclosed_form-top_input-btn#btnAppToCityes
                  | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/toggle-light.svg')}
                .application_search_form-disclosed_form-top_input_to-cityes
                  ul
                    li
                      input(type='radio' id="abakan1" name='From-City').check-mark
                      label(for="abakan1") Абакан
                    li
                      input(type='radio' id="aleisk1" name='From-City').check-mark
                      label(for="aleisk1") fff
                    li
                      input(type='radio' id="armavir1" name='From-City').check-mark
                      label(for="armavir1") Армавир

              .application_search_form-disclosed_form-top_date
                .application_search_form-disclosed_form-top_date-from Дата выгрузки, От
                .application_search_form-disclosed_form-top_date-to Дата выгрузки, До
              .application_search_form-disclosed_form-top_input
                span.application_search_form-disclosed_form-top_input__text Контрагент
                button.application_search_form-disclosed_form-top_input-btn
                  | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/toggle-light.svg')}

            .application_search_form-disclosed_form-top
              .application_search_form-disclosed_form-top_input
                input(type='text' placeholder='Номер заявки (ID, номер, номер в 1С)').application_search_form-disclosed_form-top_input__text
              .application_search_form-disclosed_form-top_input
                span.application_search_form-disclosed_form-top_input__text Статус
                button.application_search_form-disclosed_form-top_input-btn
                  | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/toggle-light.svg')}
              .application_search_form-disclosed_form-top_input
                span.application_search_form-disclosed_form-top_input__text Логист или ответственный
                button.application_search_form-disclosed_form-top_input-btn
                  | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/toggle-light.svg')}

          .application_search_form-disclosed_checkboxes
            .application_search_form-disclosed_checkboxes__item(data-id='check1')
              .application_search_form-disclosed_checkboxes__item__img
                | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/point.svg')}
              input(type="checkbox" id="myCars" name="Мои машины").application_search_form-disclosed_checkboxes__item__checkbox
              label(for="myCars") С моими машинами

            .application_search_form-disclosed_checkboxes__item(data-id='check2')
              .application_search_form-disclosed_checkboxes__item__img
                | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/point.svg')}
              input(type="checkbox" id="madeByMe" name="Созданные мной").application_search_form-disclosed_checkboxes__item__checkbox
              label(for="madeByMe") Созданные мной

            .application_search_form-disclosed_checkboxes__item(data-id='check3')
              .application_search_form-disclosed_checkboxes__item__img
                | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/point.svg')}
              input(type="checkbox" id="withDelay" name="С опозданием").application_search_form-disclosed_checkboxes__item__checkbox
              label(for="withDelay") С опозданием

            .application_search_form-disclosed_checkboxes__item(data-id='check4')
              .application_search_form-disclosed_checkboxes__item__img
                | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/point.svg')}
              input(type="checkbox" id="emptyOrders" name="Порожние").application_search_form-disclosed_checkboxes__item__checkbox
              label(for="emptyOrders") Порожние

            .application_search_form-disclosed_checkboxes__item(data-id='check5')
              .application_search_form-disclosed_checkboxes__item__img
                | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/point.svg')}
              input(type="checkbox" id="expressApps" name="Экспресс-заявки").application_search_form-disclosed_checkboxes__item__checkbox
              label(for="expressApps") Экспресс-заявки

            .application_search_form-disclosed_checkboxes__item(data-id='check6')
              .application_search_form-disclosed_checkboxes__item__img
                | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/point.svg')}
              input(type="checkbox" id="showFullAddress" name="Полный адрес").application_search_form-disclosed_checkboxes__item__checkbox
              label(for="showFullAddress") Показывать полный адрес

            .application_search_form-disclosed_checkboxes__item(data-id='check7')
              .application_search_form-disclosed_checkboxes__item__img
                | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/point.svg')}
              input(type="checkbox" id="synchronizationError" name="Ошибка синхронизации").application_search_form-disclosed_checkboxes__item__checkbox
              label(for="synchronizationError") Ошибка синхронизации

            .application_search_form-disclosed_checkboxes__item(data-id='check8')
              .application_search_form-disclosed_checkboxes__item__img
                | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/point.svg')}
              input(type="checkbox" id="onlyWithJumpers" name="Только с пересцепками").application_search_form-disclosed_checkboxes__item__checkbox
              label(for="onlyWithJumpers") Только с пересцепками

            .application_search_form-disclosed_checkboxes__item(data-id='check9')
              .application_search_form-disclosed_checkboxes__item__img
                | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/point.svg')}
              input(type="checkbox" id="showActualDates" name="Фактические даты").application_search_form-disclosed_checkboxes__item__checkbox
              label(for="showActualDates") Показывать фактические даты

            .application_search_form-disclosed_checkboxes__item(data-id='check10')
              .application_search_form-disclosed_checkboxes__item__img
                | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/point.svg')}
              input(type="checkbox" id="differentData" name="Еще данные сортировки").application_search_form-disclosed_checkboxes__item__checkbox
              label(for="differentData") Еще данные сортировки













        .application_search_form_buttons
          button(type="submit").application_search_form_buttons_btn.application_search_form_buttons_btn-orange
            span создать заявку
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/btn-orange.svg')}
          button(type="reset")#application-btn-reset.application_search_form_buttons_btn.application_search_form_buttons_btn-gray.application_search_form_buttons_btn-gray-reset
            span сбросить
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/reset.svg')}
          button(type="button").application_search_form_buttons_btn.application_search_form_buttons_btn-gray
            span обновить
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/update.svg')}




    .application-list
      .application-list-header
        .application-list-header-name.application-list-header-name-number
          span #
        .application-list-header-name.application-list-header-name-id
          span ID
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/more.svg')}
        .application-list-header-name.application-list-header-name-from
          span Откуда
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/more.svg')}
        .application-list-header-name.application-list-header-name-to
          span Куда
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/more.svg')}
        .application-list-header-name.application-list-header-name-cargo-car-driver
          span Груз, машина, водитель
        .application-list-header-name.application-list-header-name-cost-counterparty
          span Стоимость, контрагент
        .application-list-header-name.application-list-header-name-status
          span Статус

      .application-list-main
        .application-list-main-item
          .application-list-main-item-name.application-list-header-main-item-name-number
            span 1
          .application-list-main-item-name.application-list-main-item-name-id
            span 42537370
              .title(data-tooltip="Здесь полезный текст")
                | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/clip.svg')}
            span (45698235476)
              .title(data-tooltip="Здесь полезный текст")
                | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/sber.svg')}
          .application-list-main-item-name.application-list-main-item-name-from
            .application-list-main-item-name-adr
              span.application-list-main-item-name-adr-strong село Саваслейка
              span , Нижегородская область
            span План: 02.06.2021 12:00 (+04:00)
          .application-list-main-item-name.application-list-main-item-name-to
            .application-list-main-item-name-adr
              span.application-list-item-main-name-adr-strong Екатеринбург
              span , Свердловская область
            span План: 02.06.2021 12:00 (+04:00)
          .application-list-main-item-name.application-list-main-item-name-cargo-car-driver
            span Мин вода
            .application-list-main-item-name-cargo-car-driver-car
              .title(data-tooltip="Здесь полезный текст")
                | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/arrow-green.svg')}
              span В297РХ47
              .title(data-tooltip="Здесь полезный текст")
                | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/attention.svg')}
              .title(data-tooltip="Здесь полезный текст")
                | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/list.svg')}
            .application-list-main-item-name-cargo-car-driver-driver
              span Москалев Д.Ю.
              | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/plus-book.svg')}
              .title(data-tooltip="Рейтинг: 5")
                | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/graf.svg')}
          .application-list-main-item-name.application-list-main-item-name-cost-counterparty
            span 82 000,00
            span Джусто ТК (Широкий карамыш) ООО
          .application-list-main-item-name.application-list-main-item-name-status
            .application-list-main-item-name-status-item.application-list-main-item-name-status-item_green
              span Выполнена

        .application-list-main-item
          .application-list-main-item-name.application-list-header-main-item-name-number
            span 2
          .application-list-main-item-name.application-list-main-item-name-id
            span 42537370
            span (45698235476)
              .title(data-tooltip="Здесь полезный текст")
                | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/sber.svg')}
          .application-list-main-item-name.application-list-main-item-name-from
            .application-list-main-item-name-adr
              span.application-list-main-item-name-adr-strong село Саваслейка
              span , Нижегородская область
            span План: 02.06.2021 12:00 (+04:00)
          .application-list-main-item-name.application-list-main-item-name-to
            .application-list-main-item-name-adr
              span.application-list-item-main-name-adr-strong Екатеринбург
              span , Свердловская область
            span План: 02.06.2021 12:00 (+04:00)
          .application-list-main-item-name.application-list-main-item-name-cargo-car-driver
            span Мин вода
            .application-list-main-item-name-cargo-car-driver-car
              | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/arrow-green.svg')}
              span В297РХ47
            .application-list-main-item-name-cargo-car-driver-driver
              span Москалев Д.Ю.
              | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/plus-book.svg')}
              .title(data-tooltip="Рейтинг: 5")
                | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/graf.svg')}
          .application-list-main-item-name.application-list-main-item-name-cost-counterparty
            span 82 000,00
            span Джусто ТК (Широкий карамыш) ООО
          .application-list-main-item-name.application-list-main-item-name-status
            .application-list-main-item-name-status-item
              span Запланирована

        .application-list-main-item
          .application-list-main-item-name.application-list-header-main-item-name-number
            span 3
          .application-list-main-item-name.application-list-main-item-name-id
            span 42537370
            span (45698235476)
              .title(data-tooltip="Здесь полезный текст")
                | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/sber.svg')}
          .application-list-main-item-name.application-list-main-item-name-from
            .application-list-main-item-name-adr
              span.application-list-main-item-name-adr-strong село Саваслейка
              span , Нижегородская область
            span План: 02.06.2021 12:00 (+04:00)
          .application-list-main-item-name.application-list-main-item-name-to
            .application-list-main-item-name-adr
              span.application-list-item-main-name-adr-strong Екатеринбург
              span , Свердловская область
            span План: 02.06.2021 12:00 (+04:00)
          .application-list-main-item-name.application-list-main-item-name-cargo-car-driver
            span Мин вода
            .application-list-main-item-name-cargo-car-driver-car
              | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/arrow-green.svg')}
              span В297РХ47
            .application-list-main-item-name-cargo-car-driver-driver
              span Москалев Д.Ю.
              | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/plus-book.svg')}
              .title(data-tooltip="Рейтинг: 5")
                | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/graf.svg')}
              span.title(data-tooltip="Ограничения: ДА Текст с расшифровкой ограничения по водителю").title_stop
                | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/stop.svg')}
          .application-list-main-item-name.application-list-main-item-name-cost-counterparty
            span 82 000,00
            span Джусто ТК (Широкий карамыш) ООО
          .application-list-main-item-name.application-list-main-item-name-status
            .application-list-main-item-name-status-item.application-list-main-item-name-status-item_blue
              span На загрузке

        .application-list-main-item
          .application-list-main-item-name.application-list-header-main-item-name-number
            span 4
          .application-list-main-item-name.application-list-main-item-name-id
            span 42537370
            span (45698235476)
              .title(data-tooltip="Здесь полезный текст")
                | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/sber.svg')}
          .application-list-main-item-name.application-list-main-item-name-from
            .application-list-main-item-name-adr
              span.application-list-main-item-name-adr-strong село Саваслейка
              span , Нижегородская область
            span План: 02.06.2021 12:00 (+04:00)
          .application-list-main-item-name.application-list-main-item-name-to
            .application-list-main-item-name-adr
              span.application-list-item-main-name-adr-strong Екатеринбург
              span , Свердловская область
            span План: 02.06.2021 12:00 (+04:00)
          .application-list-main-item-name.application-list-main-item-name-cargo-car-driver
            span Мин вода
            .application-list-main-item-name-cargo-car-driver-car
              | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/arrow-green.svg')}
              span В297РХ47
            .application-list-main-item-name-cargo-car-driver-driver
              span Москалев Д.Ю.
              | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/plus-book.svg')}
              .title(data-tooltip="Рейтинг: 5")
                | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/graf.svg')}
          .application-list-main-item-name.application-list-main-item-name-cost-counterparty
            span 82 000,00
            span Джусто ТК (Широкий карамыш) ООО
          .application-list-main-item-name.application-list-main-item-name-status
            .application-list-main-item-name-status-item
              span Черновик

        .application-list-main-item
          .application-list-main-item-name.application-list-header-main-item-name-number
            span 5
          .application-list-main-item-name.application-list-main-item-name-id
            span 42537370
            span (45698235476)
              .title(data-tooltip="Здесь полезный текст")
                | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/sber.svg')}
          .application-list-main-item-name.application-list-main-item-name-from
            .application-list-main-item-name-adr
              span.application-list-main-item-name-adr-strong село Саваслейка
              span , Нижегородская область
            span План: 02.06.2021 12:00 (+04:00)
          .application-list-main-item-name.application-list-main-item-name-to
            .application-list-main-item-name-adr
              span.application-list-item-main-name-adr-strong Екатеринбург
              span , Свердловская область
            span План: 02.06.2021 12:00 (+04:00)
          .application-list-main-item-name.application-list-main-item-name-cargo-car-driver
            span Мин вода
            .application-list-main-item-name-cargo-car-driver-car
              | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/arrow-green.svg')}
              span В297РХ47
            .application-list-main-item-name-cargo-car-driver-driver
              span Москалев Д.Ю.
              | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/plus-book.svg')}
              .title(data-tooltip="Рейтинг: 5")
                | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/graf.svg')}
          .application-list-main-item-name.application-list-main-item-name-cost-counterparty
            span 82 000,00
            span Джусто ТК (Широкий карамыш) ООО
          .application-list-main-item-name.application-list-main-item-name-status
            .application-list-main-item-name-status-item.application-list-main-item-name-status-item_orange
              span Начата
            .application-list-main-item-name-status-item.application-list-main-item-name-status-item_red
              span 3ч 24 м

  include ../components/global/pagination
























