extends ../layouts/main/layout.pug

block title
  | TRUCKS.POINT

block content
  section.drivers
    button.close-btn
      | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/trucks/close.svg')}
    .drivers-container
      .drivers-header
        .drivers-header__title
          | Список водителей (Отображены
          strong  1-30
          |  из
          strong  443
          |  )
        .drivers-header_events
          .drivers-header_events_count
            span Выводить на странице:
            button 30
            button 50
            button 100
            button 200
          .drivers-header_events_btns
            button.button.button-gray-dark
              span обновить
              | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/trucks/reload.svg')}
            button.button.button-orange.drivers-header_events_btns__btn
              | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/trucks/download.svg')}

      .drivers-titles
        .drivers-titles-q
          span #
        .drivers-titles-id
          span ID
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/trucks/mask.svg')}
        .drivers-titles-name
          span Имя
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/trucks/mask.svg')}
        .drivers-titles-phone
          span Номер телефона
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/trucks/mask.svg')}
        .drivers-titles-sms
          span Статус отправки СМС
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/trucks/mask.svg')}

      .drivers-sort
        .drivers-sort-q
        .drivers-sort-id
          input(type="text" placeholder="ID").drivers-sort__text
        .drivers-sort-name
          input(type="text" placeholder="Имя").drivers-sort__text
        .drivers-sort-phone
          input(type="text" placeholder="Номер телефона").drivers-sort__text
        .drivers-sort-sms

      .drivers-list
        .drivers-list-item
          .drivers-list-item-q
            span 1
          .drivers-list-item-id
            span 42537370
          .drivers-list-item-name
            .drivers-list-item-name__flag.red-flag
            span Суровцев Алексей Федорович
          .drivers-list-item-phone
            span +7 999 888 77 66
          .drivers-list-item-sms
            span SMS отправлено
        .drivers-list-item
          .drivers-list-item-q
            span 2
          .drivers-list-item-id
            span 42537370
          .drivers-list-item-name
            .drivers-list-item-name__flag
            span Алексейченко Сергей Александрович
          .drivers-list-item-phone
            span +7 999 888 77 66
          .drivers-list-item-sms
            span SMS отправлено
        .drivers-list-item
          .drivers-list-item-q
            span 2
          .drivers-list-item-id
            span 42537370
          .drivers-list-item-name
            .drivers-list-item-name__flag
            span Алексейченко Сергей Александрович
          .drivers-list-item-phone
            span +7 999 888 77 66
          .drivers-list-item-sms

  include ../components/global/pagination

