extends ../layouts/main/layout-map

block title
  | TRUCKS.POINT

block content
  section.notice
    .notice-header
      .notice-header-top
        button
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/one-application-creating/close.svg')}
        h4 Уведомления
      .notice-header-buttons
        +button('обновить', 'gray-dark', 'notice/reload.svg', null)
        +button('отметить все сообщения прочитанными', 'gray-dark', 'notice/check.svg', null)
    .notice-main
      .notice-main-date
        .notice-main-date-text 15-го апр. 2021
      .notice-main-message.notice-main-message-unread
        .notice-main-message-title.notice-main-message-unread-title
          .notice-main-message-title-info.notice-main-message-unread-title-info
            .notice-main-message-title-info__indicator.notice-main-message-unread-title-info__indicator
            span.notice-main-message-title-info__text.notice-main-message-unread-title-info__text 09:04
            span.notice-main-message-title-info__text.notice-main-message-unread-title-info__text От: Зубков Вадим
          span.notice-main-message-title-short.notice-main-message-unread-title-short Водитель (Е527НР198)...
          button.notice-main-message-title__toggle.notice-main-message-unread-title__toggle(onclick='changeStyles(this)')
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/notice/toggle.svg')}
        .notice-main-message-content
          span.notice-main-message-content__text Водитель (Е527НР198) прибыл на точку выгрузки в Коркино по заявке №30963507, 15.04.2021 10:49 (+5) (автоматическое определение по координатам).
      .notice-main-message.notice-main-message-unread
        .notice-main-message-title.notice-main-message-unread-title
          .notice-main-message-title-info.notice-main-message-unread-title-info
            .notice-main-message-title-info__indicator.notice-main-message-unread-title-info__indicator
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/notice/pin.svg')}
            span.notice-main-message-title-info__text.notice-main-message-unread-title-info__text 09:04
            span.notice-main-message-title-info__text.notice-main-message-unread-title-info__text От: Зубков Вадим
          span.notice-main-message-title-short.notice-main-message-unread-title-short Водитель (Е527НР198)...
          button.notice-main-message-title__toggle.notice-main-message-unread-title__toggle(onclick='changeStyles(this)')
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/notice/toggle.svg')}
        .notice-main-message-content
          span.notice-main-message-content__text Водитель (Е527НР198) прибыл на точку выгрузки в Коркино по заявке №30963507, 15.04.2021 10:49 (+5) (автоматическое определение по координатам).
          .notice-main-message-content-doc
            .notice-main-message-content-doc__name Ставка 89200.pdf
            button.notice-main-message-content-doc__btn
              span скачать файл
              | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/one-application-info/check.svg')}
      .notice-main-message.notice-main-message-unread
        .notice-main-message-title.notice-main-message-unread-title
          .notice-main-message-title-info.notice-main-message-unread-title-info
            .notice-main-message-title-info__indicator.notice-main-message-unread-title-info__indicator
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/notice/pin.svg')}
            span.notice-main-message-title-info__text.notice-main-message-unread-title-info__text 09:04
            span.notice-main-message-title-info__text.notice-main-message-unread-title-info__text От: Зубков Вадим
          span.notice-main-message-title-short.notice-main-message-unread-title-short Водитель (Е527НР198)...
          button.notice-main-message-title__toggle.notice-main-message-unread-title__toggle(onclick='changeStyles(this)')
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/notice/toggle.svg')}
        .notice-main-message-content
          span.notice-main-message-content__text Водитель (Е527НР198) прибыл на точку выгрузки в Коркино по заявке №30963507, 15.04.2021 10:49 (+5) (автоматическое определение по координатам).
          .notice-main-message-content-doc
            .notice-main-message-content-doc__name Ставка 89200.pdf
            button.notice-main-message-content-doc__btn
              span скачать файл
              | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/one-application-info/check.svg')}
      .notice-main-message.notice-main-message-unread
        .notice-main-message-title.notice-main-message-unread-title
          .notice-main-message-title-info.notice-main-message-unread-title-info
            .notice-main-message-title-info__indicator.notice-main-message-unread-title-info__indicator
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/notice/pin.svg')}
            span.notice-main-message-title-info__text.notice-main-message-unread-title-info__text 09:04
            span.notice-main-message-title-info__text.notice-main-message-unread-title-info__text От: Зубков Вадим
          span.notice-main-message-title-short.notice-main-message-unread-title-short Водитель (Е527НР198)...
          button.notice-main-message-title__toggle.notice-main-message-unread-title__toggle(onclick='changeStyles(this)')
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/notice/toggle.svg')}
        .notice-main-message-content
          span.notice-main-message-content__text Водитель (Е527НР198) прибыл на точку выгрузки в Коркино по заявке №30963507, 15.04.2021 10:49 (+5) (автоматическое определение по координатам).
          .notice-main-message-content-doc
            .notice-main-message-content-doc__name Ставка 89200.pdf
            button.notice-main-message-content-doc__btn
              span скачать файл
              | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/one-application-info/check.svg')}
      .notice-main-message.notice-main-message-unread
        .notice-main-message-title.notice-main-message-unread-title
          .notice-main-message-title-info.notice-main-message-unread-title-info
            .notice-main-message-title-info__indicator.notice-main-message-unread-title-info__indicator
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/notice/pin.svg')}
            span.notice-main-message-title-info__text.notice-main-message-unread-title-info__text 09:04
            span.notice-main-message-title-info__text.notice-main-message-unread-title-info__text От: Зубков Вадим
          span.notice-main-message-title-short.notice-main-message-unread-title-short Водитель (Е527НР198)...
          button.notice-main-message-title__toggle.notice-main-message-unread-title__toggle(onclick='changeStyles(this)')
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/notice/toggle.svg')}
        .notice-main-message-content
          span.notice-main-message-content__text Водитель (Е527НР198) прибыл на точку выгрузки в Коркино по заявке №30963507, 15.04.2021 10:49 (+5) (автоматическое определение по координатам).
          .notice-main-message-content-doc
            .notice-main-message-content-doc__name Ставка 89200.pdf
            button.notice-main-message-content-doc__btn
              span скачать файл
              | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/one-application-info/check.svg')}
      .notice-main-message.notice-main-message-unread
        .notice-main-message-title.notice-main-message-unread-title
          .notice-main-message-title-info.notice-main-message-unread-title-info
            .notice-main-message-title-info__indicator.notice-main-message-unread-title-info__indicator
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/notice/pin.svg')}
            span.notice-main-message-title-info__text.notice-main-message-unread-title-info__text 09:04
            span.notice-main-message-title-info__text.notice-main-message-unread-title-info__text От: Айрапетов Андраник
          span.notice-main-message-title-short.notice-main-message-unread-title-short Водитель (Е527НР198)...
          button.notice-main-message-title__toggle.notice-main-message-unread-title__toggle(onclick='changeStyles(this)')
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/notice/toggle.svg')}
        .notice-main-message-content
          span.notice-main-message-content__text Водитель (Е527НР198) прибыл на точку выгрузки в Коркино по заявке №30963507, 15.04.2021 10:49 (+5) (автоматическое определение по координатам).
          .notice-main-message-content-doc
            .notice-main-message-content-doc__name Ставка 89200.pdf
            button.notice-main-message-content-doc__btn
              span скачать файл
              | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/one-application-info/check.svg')}
      .notice-main-message.notice-main-message-unread
        .notice-main-message-title.notice-main-message-unread-title
          .notice-main-message-title-info.notice-main-message-unread-title-info
            .notice-main-message-title-info__indicator.notice-main-message-unread-title-info__indicator
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/notice/pin.svg')}
            span.notice-main-message-title-info__text.notice-main-message-unread-title-info__text 09:04
            span.notice-main-message-title-info__text.notice-main-message-unread-title-info__text От: Берёзкин Алексей Сергеевич
          span.notice-main-message-title-short.notice-main-message-unread-title-short Заявка отправлена на...
          button.notice-main-message-title__toggle.notice-main-message-unread-title__toggle(onclick='changeStyles(this)')
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/notice/toggle.svg')}
        .notice-main-message-content
          span.notice-main-message-content__text Водитель (Е527НР198) прибыл на точку выгрузки в Коркино по заявке №30963507, 15.04.2021 10:49 (+5) (автоматическое определение по координатам).
          .notice-main-message-content-doc
            .notice-main-message-content-doc__name Ставка 89200.pdf
            button.notice-main-message-content-doc__btn
              span скачать файл
              | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/one-application-info/check.svg')}
      .notice-main-message.notice-main-message-unread
        .notice-main-message-title.notice-main-message-unread-title
          .notice-main-message-title-info.notice-main-message-unread-title-info
            .notice-main-message-title-info__indicator.notice-main-message-unread-title-info__indicator
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/notice/pin.svg')}
            span.notice-main-message-title-info__text.notice-main-message-unread-title-info__text 09:04
            span.notice-main-message-title-info__text.notice-main-message-unread-title-info__text От: Зубков Вадим
          span.notice-main-message-title-short.notice-main-message-unread-title-short Водитель (Е527НР198)...
          button.notice-main-message-title__toggle.notice-main-message-unread-title__toggle(onclick='changeStyles(this)')
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/notice/toggle.svg')}
        .notice-main-message-content
          span.notice-main-message-content__text Водитель (Е527НР198) прибыл на точку выгрузки в Коркино по заявке №30963507, 15.04.2021 10:49 (+5) (автоматическое определение по координатам).
          .notice-main-message-content-doc
            .notice-main-message-content-doc__name Ставка 89200.pdf
            button.notice-main-message-content-doc__btn
              span скачать файл
              | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/one-application-info/check.svg')}
      .notice-main-message.notice-main-message-unread
        .notice-main-message-title.notice-main-message-unread-title
          .notice-main-message-title-info.notice-main-message-unread-title-info
            .notice-main-message-title-info__indicator.notice-main-message-unread-title-info__indicator
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/notice/pin.svg')}
            span.notice-main-message-title-info__text.notice-main-message-unread-title-info__text 09:04
            span.notice-main-message-title-info__text.notice-main-message-unread-title-info__text От: Зубков Вадим
          span.notice-main-message-title-short.notice-main-message-unread-title-short Водитель (Е527НР198)...
          button.notice-main-message-title__toggle.notice-main-message-unread-title__toggle(onclick='changeStyles(this)')
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/notice/toggle.svg')}
        .notice-main-message-content
          span.notice-main-message-content__text Водитель (Е527НР198) прибыл на точку выгрузки в Коркино по заявке №30963507, 15.04.2021 10:49 (+5) (автоматическое определение по координатам).
          .notice-main-message-content-doc
            .notice-main-message-content-doc__name Ставка 89200.pdf
            button.notice-main-message-content-doc__btn
              span скачать файл
              | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/one-application-info/check.svg')}
      .notice-main-message.notice-main-message-unread
        .notice-main-message-title.notice-main-message-unread-title
          .notice-main-message-title-info.notice-main-message-unread-title-info
            .notice-main-message-title-info__indicator.notice-main-message-unread-title-info__indicator
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/notice/pin.svg')}
            span.notice-main-message-title-info__text.notice-main-message-unread-title-info__text 09:04
            span.notice-main-message-title-info__text.notice-main-message-unread-title-info__text От: Зубков Вадим
          span.notice-main-message-title-short.notice-main-message-unread-title-short Водитель (Е527НР198)...
          button.notice-main-message-title__toggle.notice-main-message-unread-title__toggle(onclick='changeStyles(this)')
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/notice/toggle.svg')}
        .notice-main-message-content
          span.notice-main-message-content__text Водитель (Е527НР198) прибыл на точку выгрузки в Коркино по заявке №30963507, 15.04.2021 10:49 (+5) (автоматическое определение по координатам).
          .notice-main-message-content-doc
            .notice-main-message-content-doc__name Ставка 89200.pdf
            button.notice-main-message-content-doc__btn
              span скачать файл
              | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/one-application-info/check.svg')}
      .notice-main-message.notice-main-message-unread
        .notice-main-message-title.notice-main-message-unread-title
          .notice-main-message-title-info.notice-main-message-unread-title-info
            .notice-main-message-title-info__indicator.notice-main-message-unread-title-info__indicator
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/notice/pin.svg')}
            span.notice-main-message-title-info__text.notice-main-message-unread-title-info__text 09:04
            span.notice-main-message-title-info__text.notice-main-message-unread-title-info__text От: Зубков Вадим
          span.notice-main-message-title-short.notice-main-message-unread-title-short Водитель (Е527НР198)...
          button.notice-main-message-title__toggle.notice-main-message-unread-title__toggle(onclick='changeStyles(this)')
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/notice/toggle.svg')}
        .notice-main-message-content
          span.notice-main-message-content__text Водитель (Е527НР198) прибыл на точку выгрузки в Коркино по заявке №30963507, 15.04.2021 10:49 (+5) (автоматическое определение по координатам).
          .notice-main-message-content-doc
            .notice-main-message-content-doc__name Ставка 89200.pdf
            button.notice-main-message-content-doc__btn
              span скачать файл
              | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/one-application-info/check.svg')}
      .notice-main-message.notice-main-message-unread
        .notice-main-message-title.notice-main-message-unread-title
          .notice-main-message-title-info.notice-main-message-unread-title-info
            .notice-main-message-title-info__indicator.notice-main-message-unread-title-info__indicator
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/notice/pin.svg')}
            span.notice-main-message-title-info__text.notice-main-message-unread-title-info__text 09:04
            span.notice-main-message-title-info__text.notice-main-message-unread-title-info__text От: Берёзкин Алексей Сергеевич
          span.notice-main-message-title-short.notice-main-message-unread-title-short Водитель (Е527НР198)...
          button.notice-main-message-title__toggle.notice-main-message-unread-title__toggle(onclick='changeStyles(this)')
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/notice/toggle.svg')}
        .notice-main-message-content
          span.notice-main-message-content__text Водитель (Е527НР198) прибыл на точку выгрузки в Коркино по заявке №30963507, 15.04.2021 10:49 (+5) (автоматическое определение по координатам).
          .notice-main-message-content-doc
            .notice-main-message-content-doc__name Ставка 89200.pdf
            button.notice-main-message-content-doc__btn
              span скачать файл
              | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/one-application-info/check.svg')}
      .notice-main-message.notice-main-message-unread
        .notice-main-message-title.notice-main-message-unread-title
          .notice-main-message-title-info.notice-main-message-unread-title-info
            .notice-main-message-title-info__indicator.notice-main-message-unread-title-info__indicator
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/notice/pin.svg')}
            span.notice-main-message-title-info__text.notice-main-message-unread-title-info__text 09:04
            span.notice-main-message-title-info__text.notice-main-message-unread-title-info__text От: Зубков Вадим
          span.notice-main-message-title-short.notice-main-message-unread-title-short Водитель (Е527НР198)...
          button.notice-main-message-title__toggle.notice-main-message-unread-title__toggle(onclick='changeStyles(this)')
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/notice/toggle.svg')}
        .notice-main-message-content
          span.notice-main-message-content__text Водитель (Е527НР198) прибыл на точку выгрузки в Коркино по заявке №30963507, 15.04.2021 10:49 (+5) (автоматическое определение по координатам).
          .notice-main-message-content-doc
            .notice-main-message-content-doc__name Ставка 89200.pdf
            button.notice-main-message-content-doc__btn
              span скачать файл
              | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/one-application-info/check.svg')}





