extends ../layouts/main/layout.pug

block title
  | TRUCKS.POINT

block content
  section.trackers
    button.close-btn
      | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/trucks/close.svg')}
    .trackers-container
      .trackers-header
        .trackers-header__title
          | Список трекеров (Отображены
          strong  1-30
          |  из
          strong  433
          |  )
        .trackers-header_events
          .trackers-header_events_count
            span Выводить на странице:
            button 30
            button 50
            button 100
            button 200
          .trackers-header_events_btns
            button.button.button-gray-dark
              span обновить
              | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/trucks/reload.svg')}
            button.button.button-orange.trackers-header_events_btns__btn
              | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/trucks/download.svg')}

      .trackers-titles
        .trackers-titles-q
          span #
        .trackers-titles-id
          span ID
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/trucks/mask.svg')}
        .trackers-titles-number
          span Номер
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/trucks/mask.svg')}
        .trackers-titles-type
          span Тип
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/trucks/mask.svg')}
        .trackers-titles-date-create
          span Дата создания
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/trucks/mask.svg')}
        .trackers-titles-period
          span Период трекера
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/trucks/mask.svg')}
        .trackers-titles-date-coord
          span Дата последней координаты
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/trucks/mask.svg')}
        .trackers-titles-car
          span Привязанная машина
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/trucks/mask.svg')}

      .trackers-sort
        .trackers-sort-q
        .trackers-sort-id
          input(type="text" placeholder="ID").trackers-sort__text
        .trackers-sort-number
          input(type="text" placeholder="Номер").trackers-sort__text
        .trackers-sort-type
          select.trackers-sort__text
            option(value='') Показать все
        .trackers-sort-date-create
        .trackers-sort-period
        .trackers-sort-date-coord
        .trackers-sort-date-car
          input(type="text" placeholder="Введите значение").trackers-sort__text

      .trackers-list
        .trackers-list-item
          .trackers-list-item-q
            span 1
          .trackers-list-item-id
            span 42537370
          .trackers-list-item-number
            span sotr_21744161
          .trackers-list-item-type
            span ЕГТС
          .trackers-list-item-date-create
            span 26.03.2021 11:50:32
          .trackers-list-item-period
            span 05.04.2021 13:34:07 — -
          .trackers-list-item-date-coord
            span 09.06.2021 09:57:05
          .trackers-list-item-car
            span В347ВХ147


  include ../components/global/pagination
