extends ../layouts/main/layout.pug

block title
  | TRUCKS.POINT

block content
  section.trailers
    button.close-btn
      | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/trucks/close.svg')}
    .trailers-container
      .trailers-header
        .trailers-header__title
          | Список прицепов (Отображены
          strong  1-30
          |  из
          strong  474
          |  )
        .trailers-header_events
          .trailers-header_events_count
            span Выводить на странице:
            button 30
            button 50
            button 100
            button 200
          .trailers-header_events_btns
            +button('обновить', 'gray-dark', 'trucks/reload.svg', null, null)
            +button(null, 'gray-dark', 'trucks/download.svg', null, null)

      .trailers-titles
        .trailers-titles-q
          span #
        .trailers-titles-id
          span ID
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/trucks/mask.svg')}
        .trailers-titles-number
          span Номер
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/trucks/mask.svg')}
        .trailers-titles-type
          span Тип
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/trucks/mask.svg')}
        .trailers-titles-type-load
          span Тип загрузки/выгрузки
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/trucks/mask.svg')}

      .trailers-sort
        .trailers-sort-q
        .trailers-sort-id
          input(type="text" placeholder="ID").trailers-sort__text
        .trailers-sort-number
          input(type="text" placeholder="Номер").trailers-sort__text
        .trailers-sort-type
          select.trailers-sort__text
            option(value='') Показать все
        .trailers-sort-type-load
          select.trailers-sort__text
            option(value='') Выбрать значение

      .trailers-list
        a.trailers-list-item(href='one-trailer.html')
          .trailers-list-item-q
            span 1
          .trailers-list-item-id
            span 42537370
          .trailers-list-item-number
            span УХ341777
          .trailers-list-item-type
            span Рефрижератор
          .trailers-list-item-type-load
            span ...


  include ../components/global/pagination
