extends ../layouts/main/layout.pug

block title
  | TRUCKS.POINT

block content
  section.trucks
    button.close-btn
      | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/trucks/close.svg')}
    .trucks-container
      .trucks-header
        .trucks-header__title
          | Список машин (Отображены
          strong  1-30
          |  из
          strong  443
          |  )
        .trucks-header_events
          .trucks-header_events_count
            span Выводить на странице:
            button 30
            button 50
            button 100
            button 200
          .trucks-header_events_btns
            +button('обновить', 'gray-dark', 'trucks/reload.svg', null, null)
            +button(null, 'gray-dark', 'trucks/download.svg', null, null)

      .trucks-titles
        .trucks-titles-q
          span #
        .trucks-titles-id
          span ID
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/trucks/mask.svg')}
        .trucks-titles-number
          span Номер
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/trucks/mask.svg')}
        .trucks-titles-type
          span Тип
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/trucks/mask.svg')}
        .trucks-titles-mark
          span Марка
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/trucks/mask.svg')}
        .trucks-titles-logist
          span Логист
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/trucks/mask.svg')}
        .trucks-titles-colone
          span Колонна
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/trucks/mask.svg')}
        .trucks-titles-tracker
          span Трекер
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/trucks/mask.svg')}
        .trucks-titles-datetracker
          span Дата привязки трекера
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/trucks/mask.svg')}
        .trucks-titles-datecoords
          span Дата последних координат
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/trucks/mask.svg')}
        .trucks-titles-deleted
          span Удалена
        .trucks-titles-datedelete
          span Дата удаления

      .trucks-sort
        .trucks-sort-q
        .trucks-sort-id
          input(type="text" placeholder="ID").trucks-sort__text
        .trucks-sort-number
          input(type="text" placeholder="Номер").trucks-sort__text
        .trucks-sort-type
          select
            option(value="") Все
        .trucks-sort-mark
          select
            option(value="") Все
        .trucks-titles-logist
          select
            option(value="")
        .trucks-sort-colone
          select
            option(value="")
        .trucks-sort-tracker
          input(type="text" placeholder="Трекер").trucks-sort__text
        .trucks-sort-datetracker
          select
            option(value="") Равно
          .trucks-sort-date
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/trucks/date.svg')}
        .trucks-sort-datecoords
          select
            option(value="") Равно
          .trucks-sort-date
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/trucks/date.svg')}
        .trucks-sort-deleted
          select
            option(value="") Не отмечено
        .trucks-sort-datedelete
          select
            option(value="") Равно
          .trucks-sort-date
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/trucks/date.svg')}

      .trucks-list
        a.trucks-list-item(href="one-car.html")
          .trucks-list-item-q
            span 1
          .trucks-list-item-id
            span 42537370
          .trucks-list-item-number
            span В855АТ147
          .trucks-list-item-type
            span Тягач
          .trucks-list-item-mark
            span Mercedes-Benz
          .trucks-list-item-logist
            span Томсон Артём Александрович
          .trucks-list-item-colone
            span Андреев Евгений
          .trucks-list-item-tracker
            span sotr_22486793
          .trucks-list-item-datetracker
            span 29.03.2021 16:42:01
          .trucks-list-item-datecoords
            span 07.06.2021 13:49:39
          .trucks-list-item-deleted
            span Нет
          .trucks-list-item-datedelete
            span -
        a.trucks-list-item(href="one-car.html")
          .trucks-list-item-q
            span 2
          .trucks-list-item-id
            span 42537370
          .trucks-list-item-number
            span В855АТ147
          .trucks-list-item-type
            span Тягач
          .trucks-list-item-mark
            span Mercedes-Benz
          .trucks-list-item-logist
            span Томсон Артём Александрович
          .trucks-list-item-colone
            span Андреев Евгений
          .trucks-list-item-tracker
            span sotr_22486793
          .trucks-list-item-datetracker
            span 29.03.2021 16:42:01
          .trucks-list-item-datecoords
            span 07.06.2021 13:49:39
          .trucks-list-item-deleted
            span Нет
          .trucks-list-item-datedelete
            span -

  include ../components/global/pagination


