section.main-slider
  .swiper
    .swiper-wrapper
      each el in mainSlides
        .swiper-slide
          .container
            if (el.main)
              h1.swiper-slide-title.opacity-animation !{el.slideTitle}
            else
              h2.swiper-slide-title.opacity-animation !{el.slideTitle}
            p.swiper-slide-txt.slide-left !{el.slideTxt}
            .swiper-slide-buttons
              a.btn.btn_orange.slide-up(href=el.slideUrl)
                span Подробнее
              a.swiper-slide__link.btn.btn_trans.btn_trans_lg.tc-btn.slide-up(data-delay='200' target='_blank' href='https://tc.sotrans.ru/' style='opacity: 1; transform: translateY(0px);')
                span Техцентры Сотранс
                span.arrow
                  svg(fill='none' xmlns='http://www.w3.org/2000/svg')
                      path(id='Vector 117' d='M5 7H21V23' stroke='white' stroke-width='2')
                      path(id='Vector 118' d='M21 7L5 23' stroke='white' stroke-width='2')
          .swiper-slide-image
            img(src=el.slide alt="")
    .swiper-pagination
    .swiper-counter
      .swiper-counter-progress 0#[span]
      | /
      .swiper-counter-length  0#[span]
    .swiper-button-prev
      img(src=require('@/assets/img/main-page/vector-left.svg') alt="")
    .swiper-button-next
      img(src=require('@/assets/img/main-page/vector-right.svg') alt="")
  .swiper.swiper_mobile
    .swiper-wrapper
      each el in mainSlidesMobile
        .swiper-slide
          .container
            if (el.main)
              h1.swiper-slide-title.opacity-animation !{el.slideTitle}
            else
              h2.swiper-slide-title.opacity-animation !{el.slideTitle}
            p.swiper-slide-txt.slide-left !{el.slideTxt}
            .swiper-slide-buttons
              a.btn.btn_orange.slide-up(href=el.slideUrl)
                span Подробнее
              a.swiper-slide__link.btn.btn_trans.btn_trans_lg.tc-btn.slide-up(data-delay='200' target='_blank' href='https://tc.sotrans.ru/' style='opacity: 1; transform: translateY(0px);')
                span Техцентры Сотранс
                span.arrow
                  svg(viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(id='Vector 117' d='M5 7H21V23' stroke='white' stroke-width='2')
                    path(id='Vector 118' d='M21 7L5 23' stroke='white' stroke-width='2')
          .swiper-slide-image
            img(src=el.slide alt="")
    .swiper-pagination
