section.main-lineup
  .container
    h2.section-title.opacity-animation Модельный ряд
  .container.slide-left
    .swiper
      .swiper-wrapper
        each el in lineupSlides
          .swiper-slide
            .swiper-slide__desc
              .swiper-slide__nums !{el.slideNums}
              h2.swiper-slide__title !{el.slideTitle}
              .swiper-slide__options
                .swiper-slide__options-item
                  img(src=require('@/assets/img/main-page/lineup-slides/seats.svg') alt="")
                  span #{el.slideSeats}
                .swiper-slide__options-item
                  img(src=require('@/assets/img/main-page/lineup-slides/width.svg') alt="")
                  span #{el.slideWidth}
                .swiper-slide__options-item
                  img(src=require('@/assets/img/main-page/lineup-slides/power.svg') alt="")
                  span #{el.slidePower}
            .swiper-slide__image
              img(src=el.slideImage alt=el.slideTitle)
            a.swiper-slide__link.btn.btn_trans.btn_trans_lg(href=el.slideUrl)
              span Подробнее
      .swiper-button-prev
      .swiper-button-next
      .swiper-pagination

