section.main-slider
  .swiper
    .swiper-wrapper
      each el in mainSlides
        .swiper-slide
          .container
            if (el.main)
              h1.swiper-slide-title.slide-right !{el.slideTitle}
            else
              h2.swiper-slide-title.slide-right !{el.slideTitle}
            p.swiper-slide-txt.slide-left !{el.slideTxt}
            a.btn.btn_orange.slide-up(href=el.slideUrl)
              span Подробнее
          .swiper-slide-image
            img(src=el.slide alt="")
    .swiper-pagination
    .swiper-counter
      .swiper-counter-progress 0#[span]
      | /
      .swiper-counter-length  0#[span]
    .swiper-button-prev
      img(src=require('@/assets/img/main-page/vector-left.svg') alt="")
    .swiper-button-next
      img(src=require('@/assets/img/main-page/vector-right.svg') alt="")
