footer.footer
  .footer__top
    .footer__logo
      img(src=require("@/assets/img/footer/logo-footer.svg") alt="")
    .footer__contacts
      each el in footerContacts
        a(href=el.href) #{el.txt}
  .footer__bottom
    .footer__copyright © ООО «Лого», 2008—2022
    .footer__socials
      each el in footerSocials
        a(href=el.href)
          img(src=el.icon alt=el.alt)
