footer.footer
  .container
    .footer__container
      a.footer__logo(href="javascript:")
        img(src=require("@/assets/img/footer/logo-footer.svg") alt="")
      .footer__contacts
        ul.footer__contacts-list
          each el in footerContacts
            li
              a(href=el.href) #{el.txt}
    .footer__container
      .footer__copyright © ООО «Лого», 2008—2022
      .footer__socials
        each el in footerSocials
          a(href=el.href)
            img(src=el.icon alt=el.alt)
