extends ../layouts/main/layout.pug

block title
  | Test

block content
  .container
    .search
      .search__top
        .search__input
          input(type="search" placeholder="Введите ЖК / корпус / № квартиры / № паркинга")
        +select(searchSelect)
        button.search__clear-basket
          | Очистить корзину
          | !{ require('!svg-inline-loader!@/assets/img/icons/cross.svg') }
      .search__bottom
        .search__actions
          .search__item.search__item_main
            +check({name: 'allActions'})
            | все
          each el in searchActions
            .search__item(class=el.modifier ? `search__item_${el.modifier}` : '')
              | #{el.text}
              if (el.img)
                img(src=el.img alt="")
    .flats
      each el in flatCards
        +flat-card(el)





