header.header
  .header__mobile-menu
    .header__mobile-menu-top
      .header__mobile-menu-title Меню
      .header__mobile-menu-close
        | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/svg/header/mobile/mobile-close.svg')}
    .header__mobile-menu-container
      each el in headerMobileMenu
        a(href=el.href)
          | !{el.svg}
          span #{el.text}
  .container
    .header__mobile
      .header__mobile-container
        .header__mobile-logo
          img(src=require("@/assets/img/svg/header/mobile/logo-mobile.svg") alt="")
        a.header__mobile-phone(href="tel:+73517010337") +7 (351) 701-03-37
      .header__mobile-container
        a.header__mobile-btn
          img(src=require("@/assets/img/svg/header/mobile/mobile-menu.svg") alt="")
        a.header__mobile-contacts Связаться
    .header__top
      .header__container
        a.header__logo(href="javascript:")
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/svg/header/logo.svg')}
        .header__menu
          each el in headerTopMenu
            a.header__menu-item(
              class=el.modifier ? `header__menu-item_${el.modifier}` : ''
              href=el.href
            )
              span #{el.text}
      .header__contacts
        .header__contacts-time Звоните, пн-вс 10:00 - 20:00
        a.header__contacts-phone(href="tel:+73512207704")
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/svg/header/phone.svg')}
          | +7 351 220 77 04
    .header__bottom
      nav.header__nav
        each el in headerNav
          a.header__nav-item(href=el.href)
            span.header__nav-item-container
              | !{el.svg}
              span #{el.text}
              if (el.arrow)
                span.header__nav-item-arrow
