header.header
  .container
    .header__menu-btn
      | !{ require('!svg-inline-loader!@/assets/img/svg/global/menu-btn.svg') }
    .flex-block
      a.logo(href="index.html")
        | !{ require('!svg-inline-loader!@/assets/img/svg/global/logo.svg') }
      .navigation
        each el in navMenu
          a.navigation__link(href=el.href) #{el.name}
    .flex-block
      .socials
        each el in socials
          a.socials__link(href=el.href)
            | !{el.src}
      a.mail.gray-link(href='mailto:nomercymusic@bk.ru') nomercymusic@bk.ru


