section.diagram
  .container
    h2.section-title.section-title_white_blue #[span 03] Техническая схема
    .diagram__drawing
      .diagram__drawing-image
        img(src=require('@/assets/img/product/diagram-1.png') alt="")
        .diagram__drawing-btn
          img(src=require('@/assets/img/product/loupe.svg') alt="")
      .diagram__drawing-image
        img(src=require('@/assets/img/product/diagram-1.png') alt="")
        .diagram__drawing-btn
          img(src=require('@/assets/img/product/loupe.svg') alt="")
  .diagram__modal
    .diagram__modal-body
      .diagram__modal-close
        img(src=require('@/assets/img/product/close.svg') alt="")

