section.product-specs
  .container
    h2.section-title-txt КМУ Hyva HB 80 E2
    .product-specs__content
      .product-specs__container
        h3.section-title.section-title_white_blue #[span 01] Технические характеристики
        ul.product-specs__list
          each el in productList
            li  #[span #{el.option}] #[b #{el.value}]
      .product-specs__container
        h3.section-title.section-title_white_blue #[span 02] Комплектация
        ul.product-specs__list
          each el in compList
            if (el.value)
              li  #[span #{el.option}] #[b #{el.value}]
            else
              li #[span #{el.option}]

