section.product-additional
  .container
    h2.section-title.section-title_sm #{additionalTitle}
    if (additionalSubtitle)
      h3.product-additional__subtitle #{additionalSubtitle}
    .product-additional__content(class=additionalContentModifier ? additionalContentModifier:'')
      if (additionalOptions)
        .product-additional__options
          each el in additionalOptions
            .product-additional__options-item
              span #{el.name}
              span #{el.value}
        if (additionalDiagram)
          .product-additional__diagram
            img(src=additionalDiagram alt="diagram")
      if (additionalEquipment)
        .product-additional__equpment
          .product-additional__equpment-list
            .product-additional__equpment-item
              each el in additionalEquipmentLists
                if (el.title)
                  h3 #{el.title}
                if (el.items)
                  ul
                    each item in el.items
                      li #{item}
                else
                  h3 #{el.title}
          if (additionalEquipmentImage)
            .product-additional__equpment-image
              img(src=el alt="")


