section.product-benefits
  .product-benefits-content
    h3.product-benefits-content-title Преимущества покупки в МЗ «Сотранс»
    .product-benefits-content-list
      .product-benefits-content-list-item
        img(src=require('@/assets/img/global/choice.svg') alt="" loading="lazy")
        .product-benefits-content-list-item__text Большой выбор в наличии
      .product-benefits-content-list-item
        img(src=require('@/assets/img/global/garant.svg') alt="" loading="lazy")
        .product-benefits-content-list-item__text Гарантия на продукцию 12 месяцев
      .product-benefits-content-list-item
        img(src=require('@/assets/img/global/client.svg') alt="" loading="lazy")
        .product-benefits-content-list-item__text Индивидуальный подход к каждому клиенту
      .product-benefits-content-list-item
        img(src=require('@/assets/img/global/pay.svg') alt="" loading="lazy")
        .product-benefits-content-list-item__text Гибкие системы покупки
      .product-benefits-content-list-item
        img(src=require('@/assets/img/global/corob.svg') alt="" loading="lazy")
        .product-benefits-content-list-item__text Отгружаем через 24 часа с момента обращения


