footer.footer
  button.footer__up-btn
    img(src=require('@/assets/img/footer/arrow-up.svg') alt="")
    | Вернутся наверх
  .footer__content
    .container
      .footer__top
        a.footer__logo.slide-right(href="https://kamaz.sotrans.ru/")
          img(src=require('@/assets/img/footer/logo.svg') alt="")
        .footer__menu
          each el in footerMenu
            a(href=el.href) #{el.txt}
      .footer__bottom
        .footer__bottom-left.slide-up
          p Основными направлениями деятельности сертифицированного сервисного центра «Техцентры СОТРАНС» является ремонт и обслуживание грузовых автомобилей Камаз.
          p Сервисная станция оказывает услуги по техническому обслуживанию, гарантийному ремонту и восстановлению аварийных автомобилей. Кроме ремонта, «Техцентры СОТРАНС» предлагают оригинальные запасные части Камаз.
        .footer__bottom-right
          each el in footerList
            ul.footer__list
              each item in el
                li.footer__list-item
                  a(href=item.href) #{item.txt}
          .footer__contacts
            .footer__contacts-block
              a(href="tel:+79214377517") +7 921 437 75 17
              span время работы: 9:00-20:00
            .footer__contacts-block
              a(href="mailto:sotrans@sotrans.ru") sotrans@sotrans.ru
              span На связи круглосуточно
            .footer__contacts-block
              a(href="javascript:")
                | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/footer/tg.svg')}
              a(href="javascript:")
                | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/footer/wt.svg')}
  .footer__copiryght
    .container
      .footer__text #[span © 2022 Все права защищены.] #[span All rights reserved SOTRANS]
      a.footer__policy(href="javascript:") Политика конфиденциальности
        span
