section.doctors-main
  .container
    h3.subtitle Специалисты
    p.description-text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
    .doctors-main-container
      each doctor in doctors
        .doctors-card
          .doctors-card-info
            .doctors-card_img
              img(src=doctor.img)
            h5.doctors-card_name
              span=doctor.lastName
              span=doctor.name
            p=doctor.prof
            p=doctor.experience
          a(href='javascript:').btn.btn-fill Подробнее

