extends ../layouts/main/layout.pug

block title
  | JMC

block content
  .plug
    .plug__logos
      img(src=require('@/assets/img/logo-s.svg') alt="")
      img(src=require('@/assets/img/logo-j.svg') alt="")
    h1.plug__title Сайт находится #[br] на реконструкции
    p.plug__txt ООО «Техцентры СОТРАНС» — #[br] официальный дилер JMC в Российской Федерации
    h3.plug__sub-title Контакты:
    .plug__contacts
      .plug__item
        .plug__item-container
          .plug__item-image
            img(src=require('@/assets/img/icons/pin.svg') alt="")
          .plug__item-txt г. Санкт-Петербург
      .plug__item
        .plug__item-title Режим работы
        .plug__item-container
          .plug__item-image
            img(src=require('@/assets/img/icons/clock.svg') alt="")
          .plug__item-txt Пн.-Пт.: 9:00 - 21:00
      .plug__item
        .plug__item-title Отдел продаж
        .plug__item-container
          .plug__item-image
            img(src=require('@/assets/img/icons/phone.svg') alt="")
          a.plug__item-txt(href="tel:+ 79218869689") + 7 (921) 886-96-89
      .plug__item
        .plug__item-container
          .plug__item-image
            img(src=require('@/assets/img/icons/mail.svg') alt="")
          a.plug__item-txt(href="mailto:v.shilimov@tc-sotrans.ru") v.shilimov@tc-sotrans.ru
      .plug__item
        .plug__item-txt ООО «Техцентры СОТРАНС»
        span ИНН 4716034632
        span КПП 471601001




