section#production.production
  .container
    .production__top.slide-right
      h2.section-title Собственное производство #[span полуприцепов SOTRANS WALLAROO]
      p Полуприцепы SOTRANS WALLAROO серийно производит ООО «Механический Завод СОТРАНС» входящий в ГК «СОТРАНС»
    .production__bottom.slide-left
      .swiper
        .swiper-wrapper
          each el in productionSlides
            .swiper-slide
              img(src=el alt="")
        .swiper-button-prev
          img(src=require('@/assets/img/production/arrow-left.svg') alt="")
        .swiper-button-next
          img(src=require('@/assets/img/production/arrow-right.svg') alt="")
      a.btn.btn_prod.btn_prod_mobile(href="https://mz.sotrans.ru/produkciya/polupricepy-shtornye" target="_blank" rel="noopener noreferrer")
        span Подробнее
        img(src=require('@/assets/img/global/arrow.svg') alt="")
      .production__desc
        p Наши полуприцепы успешно прошли длительны ресурсные испытания в собственном парке, благодаря продуманной конструкции, современным технологиям производства и использованию высококачественных комплектующих.
        p На данный момент наш парк эксплуатирует #[span 55 полуприцепов] SOTRANS WALLAROO.
        p #[b До 2025 года] запланирован полный перевод парка на полуприцепы собственного производства.
        a.btn.btn_prod(href="https://mz.sotrans.ru/produkciya/polupricepy-shtornye" target="_blank" rel="noopener noreferrer")
          span Подробнее
          img(src=require('@/assets/img/global/arrow.svg') alt="")
